[2016-04-13 09:58] khenderick opened #122 "Create new interface to support multiple ASDs per disk"
Create new interface to support multiple ASDs per disk.

Story: openvstorage/home#6

[2016-04-25 11:46] khenderick opened #125 "Add support to select a different fragment cache backend per StorageRouter"
Add support to select a different fragment cache backend per StorageRouter.

[2016-04-26 14:35] kvanhijf commented on #125
https://github.com/openvstorage/framework/pull/521
https://github.com/openvstorage/framework-alba-plugin/pull/126

[2016-05-04 07:06] khenderick commented on #122
Closed by #124

[2016-05-04 07:06] #122 closed

[2016-05-09 12:02] khenderick opened #130 "Add option to create ALBA backend with initial amount of NSM hosts"
Add option to create ALBA backend with initial amount of NSM hosts.

[2016-05-17 11:57] eduardBM opened #137 "Update license headers in Framework repo"
Story: ovs-projects/org_development#12

[2016-06-14 15:04] pploegaert opened #146 "Incorrect license header in webapps/frontend/app/views/wizards/addbackend/alba.html"

[2016-06-15 06:21] pploegaert opened #149 "Missing config in albascheduledtask controller for verify_namespace"
'''
!export LD_LIBRARY_PATH=/usr/lib/alba; /usr/bin/alba verify-namespace --factor=10 fd-vpool1-0ce58ff1-eb4a-4b19-b024-291109a50411 marie_fd-vpool1-0ce58ff1-eb4a-4b19-b024-291109a50
alba: required option --config is missing
Usage: alba verify-namespace [OPTION]... NAMESPACE JOB_NAME
Try alba verify-namespace --help' oralba --help' for more information.
'''

[2016-06-15 08:29] #146 closed

[2016-06-15 08:31] pploegaert commented on #149
openvstorage-backend-1.7.0-rev.629.ab133ef

[2016-06-15 08:31] #149 closed

[2016-06-21 14:04] wimpers commented on #125
@kvanhijf anything to do for this one?

[2016-06-21 14:10] kvanhijf commented on #125
No, everything's fixed related to this
Closing...

[2016-06-21 14:10] #125 closed

[2016-07-01 12:22] khenderick commented on #130
Closed by #134

[2016-07-01 12:22] #130 closed

[2016-07-01 12:31] khenderick opened #154 "Claiming ASDs previously claimed by another backend throws unclear error"
_From @kvanhijf on June 23, 2016 15:46_

Scenario:

Backend 1, backend 2 --> both 0 ASDs initialized
On backend 1 initialize some ASDs and claim a subset of them
Go to backend 2 detail page. Here you'll see the same amount of initialized ASDs, but the fact that some of them had been claimed takes a while for the code to 'see'
When clicking the claim all button on backend 2 detail page, i'd expect

[2016-07-01 12:31] khenderick commented on #154
_From @wimpers on June 28, 2016 13:0_

@pploegaert can you see if this breaks anything?

[2016-07-01 12:32] khenderick opened #155 "NVMe can't be claimed as alba disk although available to claim as role"
_From @kinvaris on June 21, 2016 12:14_

I have a NVMe on my environment that I want to claim as alba backend disk but I can't. Although this is not possible on the `backend` page, it is possible to claim it for a role.

_Copied from original issue: openvstorage/framework#644_

[2016-07-01 12:32] khenderick commented on #155
Extra information: The requirement for a disk as being usable as a plain disk (to be used as a cache disk, db disk, ...) is completely different from the requirements for it to be used as a backend disk.

[2016-07-01 12:32] khenderick commented on #155
Current requirement for a disk to be available as backend disk:

Should be listed in ```/dev/disk/by-id/```, starting with ```scsi-```, ```ata-``` or ```virtio-``` and should be a symlink pointing to ```/dev/sd*``` or ```/dev/vd*```.

Can you please add some information about the disks to this ticket (e.g. as what are they listed under ```/dev/disk/by-id/```), so we can add support for these nvme

[2016-07-01 12:32] khenderick commented on #155
_From @pploegaert on June 27, 2016 11:38_

Not present in /dev/disk/by-id/

Present in /dev/ as nvm*

[code]

Partitioned but no filesystem present yet:
[code]

[2016-07-01 12:32] khenderick commented on #155
A quick fix that might be possible (instead of rewriting how disks are identified) is adding a symlink, e.g. ```/dev/disk/by-id/nvme-something -> ../../nvme0n1``` and ```/dev/disk/by-id/nvm-something-part1 -> ../../nvme0n1p1```, and then making a small patch in the code to accept this (that should be quite easy).

The only downside of this temporarily fix is that you have to add the symlinks befor

[2016-07-11 09:57] openvstorage-ci opened #156 "Alba commands seem to hang and use a lot of system resources"
_From @kinvaris on July 4, 2016 9:8_

[code]

[code]

[code]

[code]

[code]

_Copied from original issue: openvstorage/alba#270_

[2016-07-11 09:57] openvstorage-ci commented on #156
_From @toolslive on July 4, 2016 13:9_

these command are started by this:

[output = check_output(cmd, shell=True).strip()](https://github.com/openvstorage/framework-alba-plugin/blob/66682a22b2672ed1f58dac02ce8448e22c7f59a1/ovs/extensions/plugins/albacli.py)

Current hypothesis is this:
if the python process dies before the output is processed, the alba process isn't shot. It remains alive, with

[2016-07-11 09:57] openvstorage-ci commented on #156
_From @toolslive on July 5, 2016 6:34_

With the above hypothesis in mind, I was able to reproduce a few of these spinning alba cli's
on a dev environment with ~200 asds:

[code]

[2016-07-11 09:57] openvstorage-ci commented on #156
_From @toolslive on July 6, 2016 7:29_

fwiw, the script fails to produce spinning cli's if  the command is a list iso a string.

[2016-07-12 07:42] wimpers opened #158 "GUI changes"
Please make following changes to the Backend detail page in the GUI:
* Local backend: the piechart should display Metadata, Used and Free.
* Global backend: remove pie chat all together.

Feel free to optimize the code so the pages load faster (due to the vPool details not being fetched)

[2016-07-12 07:57] khenderick commented on #156
Resolved by #157 and openvstorage/framework#710

[2016-07-12 14:23] kvanhijf commented on #158
Pie chart for ALBA backends of type LOCAL is now as following:
- Free space (Total size reported by ASDs - total size used reported by ASDs)
- Used space (Total size used as reported by alba show-namespace statistics)
- Internal metadata (Total size used reported by ASDs - total size used as reported by alba show-namespace statistics)

[2016-07-13 12:27] wimpers opened #161 "Speed up listing ALBA backends and presets during add vPool"
When you create a vPool and load the local backend it takes ages before the data is shown. We should make the vPool creation wizard much snappier.
Some suggestions:
* Load only the presets of the selected backend.
* Don't always check if policies are in use
* Only fetch the name of the preset instead of the preset and policies

[2016-07-14 09:53] wimpers opened #162 "GUI hangs for 2s when rendering ALBA backend detail page"
GUI hangs for 2s when rendering ALBA backend detail page

[2016-07-14 09:57] khenderick commented on #162
So far it looks like we don't do anything stupid, but that this is just the time it takes for the GUI to render.

[2016-07-14 11:05] khenderick commented on #162
Assume it takes 5 seconds to render the disks (for e.g. 20 nodes). This means each node needs about 250ms to render. During this rendering, the browser page does not respond (e.g. no scrolling, no changes on the page).

Currently: this not responding will take 5 seconds, after that, everything works smooth again.
Option: render the nodes one by one, with e.g. 500ms delay. However, this means that

[2016-07-14 13:09] wimpers commented on #162
Leave it like it is in that case

[2016-07-14 13:09] #162 closed

[2016-07-15 09:55] khenderick opened #166 "Node removal does not work when Alba disks are used on the removed node"
Node removal does not work when Alba disks are used on the removed node

[2016-07-15 10:01] khenderick commented on #166
Fixed by #167

For QA: Creating a 2-or-more node setup and adding a backend with disks over all nodes. Then just remove one of the nodes.

[2016-07-21 09:22] openvstorage-ci opened #168 "backend cannot be deleted when asds are in use by another backend"
_From @pploegaert on July 20, 2016 8:56_

Delete button is grayed out ...

![image](https://cloud.githubusercontent.com/assets/8393135/16979827/81485c7c-4e63-11e6-8453-28701a685ec7.png)

_Copied from original issue: openvstorage/framework#733_

[2016-07-22 11:52] khenderick commented on #168
I cannot reproduce this. Also based on the code everything looks OK. The only thing I can think of is that the call that checks whether the backend can be removed was still loading at that point.

[2016-07-26 14:58] kinvaris opened #169 "Not all alba asds are claimed as backend_disks and can be used for other roles"
We've observed this on a environment: http://i63.tinypic.com/or07id.png

It seems like not all alba disks are "seen" as backend disks. This means we could change/add roles to the backend disks. This should not be possible.

[2016-07-28 05:42] openvstorage-ci opened #170 "OVS framework should keep the disk UID in case it fails."
_From @kinvaris on July 26, 2016 9:33_

It would convenient if the framework could store the disks there UID. If a disk would fail, it is very easy to replace it.

_Copied from original issue: openvstorage/framework#743_

[2016-07-28 05:43] khenderick commented on #170
Is about the ```AlbaDisk``` object that needs some more informative properties to show in case of a disk failure. Basically anything that can help figure out what exact disk we're talking about.

[2016-07-28 12:10] khenderick commented on #169
The cause of this issue is the fact that the Backend disks are handled differently from the StorageRouter disks. They are discovered differently, and their path can be different. E.g. a disk in the Backend cannot be identified by it's wwn, but for the StorageRouter disks, it can. And this path is the identifier with which the Backend role is linked.

[2016-07-28 12:42] khenderick commented on #169
In an ideal world, we would use wwns all the time, but it isn't available on vmware envs.

[2016-07-29 09:45] kinvaris commented on #170
I would include these
[code]

The reason why I created this ticket was because we used SSDs where the system S/N did not match the sticker on the SSD.

So It is possible that this has already been added to OVS.

[2016-07-29 11:21] khenderick opened #171 "md member devices can be used as a backend disk (rendering the md device useless)"
md member devices can be used as a backend disk (rendering the md device useless)

[2016-07-29 13:49] #161 closed

[2016-07-29 13:56] khenderick commented on #169
@wimpers, can we re-validate what disks can be used for backends and/or roles? I'd like to get both disk related code more in line so this ticket can be resolved.

Currently:
* Roles: basically udev reported devices with type ```disk``` or a devicename that contains ```loop```, ```nvme``` or ```md```.
* Backend: must be in ```/dev/disk/by-id/```, starting wtih ```scsi-```, ```ata-```, ```virtio-``

[2016-07-29 14:03] khenderick commented on #169
After discussions with @wimpers, we want to allow basically every block device that can be found, it's up to the customer to decide whether a disk would be a good choice or not. This means we can bring the implementations more in line and thus in theory have the same identifier for these code paths, which in turn should solve the reported issue.

[2016-07-29 14:09] pploegaert commented on #169
@khenderick: we now install also ovs on kvm/qemu, so if possible pls include vd* too ...

[2016-07-29 14:43] wimpers opened #172 "Make the backend detail page more clear"
Currently the backend detail page of a backend is unclear in case you have many node in the cluster.

Thing to make the page more clean and easier to use:
- add a show 'All nodes' button under the ASD nodes tab
-  By default hide nodes which don't offer disks which are used by the backend (toggle the All nodes to show all nodes in the cluster)
- If the disk is initialized but can't be used as the

[2016-08-01 09:50] khenderick commented on #172
Suggestion; Sort nodes by used/unused and collapse "unused" nodes. Then we can just use the currently available collapsing functionality.

[2016-08-02 14:49] wimpers commented on #172
If unused means unused by the backend (the one you  selected), fine.

[2016-08-02 16:21] deepshirsath opened #173 "ovs remove nodes failed!"
Open vStorage: 2.7.1-rev.3796.b423743-1
Open vStorage - Backend: 1.7.1-rev.660.c655e82-1
Open vStorage - SDM: 1.6.1-rev.327.9490bc3-1
Storage Driver - Base: 6.0.3-dev.201607191821.0758481
Storage Driver - Server: 6.0.3-dev.201607191821.0758481
Alba: 0.9.14
Arakoon 1.9.8

Executed 'ovs remove nodes' for removing 3rd node from 3 node ovs cluster but it has failed.

root@ubuntu1:~# ovs remove nodes 1

[2016-08-03 08:54] wimpers commented on #171
@khenderick didn't you make some changes around this when updating the code to make the disks selection in storagerouters and asd nodes similar? Still an issue?

[2016-08-04 08:55] wimpers opened #174 "Error when removing disk which is removed from the cluster"
On a working environment I physically removed a disk. Next I removed the disk from the ALBA backend throughthe GUI. The disk was removed but during the removal an error popped up. We should tackle this error and hide it.

[2016-08-04 08:55] wimpers commented on #174
![2016-08-04_10-50-36](https://cloud.githubusercontent.com/assets/8392927/17396097/f1a4ed9e-5a31-11e6-9350-7655dce6ca7f.png)

[2016-08-05 07:59] domsj opened #177 "maintenance process placement is rather sub awesome for local backend in a multi datacenter ovs cluster"
I noticed on the OVH env that maintenance for the hdd-grav backend was running on some of the roubaix nodes (and no maintenance process on any node of the gravelin datacenter).
When set up like this you lose local repair, all data has to travel back and forth between the datacenters...

[2016-08-05 08:01] khenderick commented on #177
The maintenance process distribution was designed as "foreach backend, run a maintenance process on _all_ storage nodes until you met the required amount of maintenance processes". The code doesn't know about datacenters, so it doesn't care about the placement.

A solution would be to prefer nodes that have disks claimed to the backend.

[2016-08-05 08:14] domsj commented on #177
When do you deploy maintenance processes?
Probably immediately when setting up a backend ... so that's when it doesn't have disks yet.
So then you would either have to delay deploying maintenance processes, or move the maintenance processes in some sort of periodic checkup once disks have been claimed?

[2016-08-05 08:16] khenderick commented on #177
Valid point, we currently have a function that will validate the current maintenance processes and remove/add some if required. We can extend this so it can basically move them around, and call it more frequently (now it's only when you set up a backend or add a new node).

[2016-08-05 08:20] khenderick commented on #177
After some talking with @domsj, we could take it further and start adding a meaning to the domain tags assigned to a backend. We can add these domains to nodes as well, and prefer to have maintenance processes in the same domain. We can even start to assign roles to nodes.

[2016-08-05 11:52] wimpers opened #178 "Make backend creation more flexible"
Currently the creation of a backend is quite hardcoded to deploy the arakoon dbs on the master nodes. Another option is to deploy the abm and nsm arakoons manually but that requires you create the arakoons clusters one by one.

I see 2 possibilities to make the backend creation more flexible.
-  In the create backend step allow to select the abm and nsm arakoon from a list (only show unused arakoo

[2016-08-05 12:02] domsj commented on #178
I see another option, in line with (one of) the suggested solution for https://github.com/openvstorage/framework-alba-plugin/issues/177 .
Allow assigning roles to nodes.
The roles could e.g. be
alba_maintenance
alba_nsm_host
alba_abm
alba_maintenance/{backend}
alba_nsm_host/{backend}
alba_abm/{backend}

When creating a new backend the abm/nsm_host/maintenance have to be deployed.
At this time the

[2016-08-08 14:03] JeffreyDevloo opened #180 "'ovs remove nodes' leaves entry in AlbaNodesList"
# Problem description
Claiming disks from a reinstalled node, that has been previously removed, fails without any feedback to the user.
There is no entry in the /var/log/upstart/ovs-workers.log about a 'claim disk task' nor a message on the gui reporting the problem to the user.
# Possible root of the problem
There is a lingering record of the previous installation in the AlbaNodesList because the

[2016-08-08 14:09] khenderick commented on #169
Removed question label, apparently I already posted the answer of the discussion.

[2016-08-08 14:10] wimpers commented on #171
Relates to https://github.com/openvstorage/framework-alba-plugin/issues/169

[2016-08-08 14:16] khenderick commented on #180
Some technical details:
* ```ovs remove nodes ...``` removes the node from the framework, it also make sure alba asds/nodes are correctly removed from the backend if applicable.
* The asd-manager however, registers itself in etcd upon installation (at setup time), and the asd-manager has no uninstall support (neither has openvstorage - but that one is more or less wiped correctly by the (in)famous

[2016-08-08 14:23] khenderick commented on #171
@wimpers, no as #169 is not yet handled.

[2016-08-09 11:05] deepshirsath commented on #168
**Open vStorage: 2.7.1-fargo.1-1**

**_Steps performed to re-produce the issue :-_**

- Single node setup
- Total 3 SATA disk available for backend
- Created two backends, backend1 and backend2
- Created 3 ASD's per disk, so total number of available ASDs are 9), claimed 6 ASD's for backend1(2 ASD's from each disk.)
- For backend2, used available 3 ASD's. (1 ASD from each disk)
- When navigate to

[2016-08-09 11:05] #168 closed

[2016-08-09 11:06] JeffreyDevloo commented on #180
The following actions can be executed due to these lingering records:

- Initializing disks for the back-end
- Claim disks for the back-end

[2016-08-09 11:17] khenderick commented on #180
As discussed, also as expected; the asd-manager is just doing whatever it's supposed to do; it has no knowledge about openvstorage, so it doesn't know something was removed.

[2016-08-10 07:05] domsj opened #181 "Default alba proxy set up is a security risk"
Proxy listens on a (semi?) public ip, with a predictable port.
Runs as root and can easily be (ab)used to read/write any file on its local filesystem.

[2016-08-10 07:13] khenderick commented on #181
Most services (memcached, arakoon, asds, ...) listen on public ips. The proxy used to listen to 127.0.0.1, but it was moved to a possibly public ip because of our RDMA support. So far, the security concerns are supposed to be resolved by customer firewalling.

[2016-08-10 15:38] wimpers opened #182 "Inconsistent status across backend pages"
![2016-08-10_16-31-49](https://cloud.githubusercontent.com/assets/8392927/17560134/2d2d626c-5f21-11e6-8c63-049343349a34.png)

Had this issue on my 3 datacenter env. On the list page the geoscale backend is green, on the detail page it is red.

[2016-08-11 06:19] openvstorage-ci opened #183 "Remove node: local variable 'osd' referenced before assignment"
_From @JeffreyDevloo on August 10, 2016 13:1_

# Problem description
Got 'local variable 'osd' referenced before assignment' when invoking ovs remove node.

# Possible root of the problem
There weren't any ASDs claimed for the back-end. Perhaps there is no check on the existence of ASDs?
# Possible solution
Add a check.
# Temporary solution
None
# Additional information
Happend on the remove hook:

[2016-08-11 06:24] openvstorage-ci opened #185 "Frontpage overview of global backends should be listed as backends/ASDs not ASDs only."
_From @kinvaris on August 9, 2016 13:29_

![](http://i.imgur.com/pZr0jf1.png)

Instead of only `ASD`, this should be: `Backend/ASD`
![](http://i.imgur.com/gq2SBNh.png)

_Copied from original issue: openvstorage/framework#795_

[2016-08-11 06:24] openvstorage-ci commented on #185
_From @khenderick on August 10, 2016 7:19_

Feel free to do pull requests for text changes; all translations are in https://github.com/openvstorage/framework/blob/master/webapps/frontend/locales/en-US/ovs.json.

Other options: just call it OSDs (then it's correct either way), or call it ASDs in case of "Local Backends" and "Backends" in case of "Global Backends". But I'd rather call it just "OSDs"

[2016-08-11 07:10] khenderick commented on #183
Fixed by #184

[2016-08-11 07:32] khenderick commented on #173
Fixed by #186 in openvstorage-backend-1.7.2-rev.675.37ca5b8

[2016-08-11 07:51] khenderick commented on #180
After some discussions with @JeffreyDevloo, it might be possible that a few side-effects from other bugs were messing with this ticket. @JeffreyDevloo, can you re-test this scenario so we know the behavior without the previously fixed issues?

[2016-08-11 08:19] wimpers commented on #185
@khenderick can a global backend be a mix of ASDs and local backends? I assume not.

I would prefer if we do it correct. For global backends have it called backend. Call it ASDs for local. Kinetic disks will also be ASDs.

[2016-08-11 08:22] khenderick commented on #185
@wimpers, it's not yet enabled, but almost all of the code is available to allow mixed backends, since Alba can handle such scenarios. Wrt correct naming; Kinetic drives are not ASDs and are referred to as OSDs (also in alba's naming convention), so correct would be just refer to them as OSDs, regardless of whether it are backends or ASDs or Kinetic drives.

[2016-08-11 09:04] domsj commented on #181
There's still a difference between what most services allow you to do and what the proxy allows (reading/writing arbitrary files).
An important part of security is doing defence in depth ...
Maybe for this issue it makes sense to build a limitation into the proxy: only allow calls that access the filesystem if the client requesting this has the same ip as the proxy?

Even then a non privileged use

[2016-08-11 09:07] wimpers commented on #185
Call it Status and be done?

[2016-08-11 14:01] JeffreyDevloo commented on #183
Verified, could no longer reproduce the issue using the same setup.

[2016-08-11 14:01] #183 closed

[2016-08-11 14:15] domsj opened #187 "KeyError: 'local_summary' in dal.log when loading backend info"
[code]

This is also accompanied by red balls in the detail page of the global backend on OVH.

Version: 2.7.1-fargo.2-1

[2016-08-11 14:45] JeffreyDevloo commented on #180
Would be fixed when asd-manager would be removed. (The asd-manager should remove the entry from etcd)
Closing.

[2016-08-11 15:43] JeffreyDevloo commented on #173
This issue has been fixed in openvstorage-backend-1.7.2-rev.675.37ca5b8. Could no longer reproduce this issue.

[2016-08-11 15:43] #173 closed

[2016-08-12 11:41] khenderick commented on #187
Fixed by openvstorage/framework#808, packaged in openvstorage-2.7.2-rev.3865.5388319 & openvstorage-2.7.1-fargo.3

[2016-08-12 11:43] khenderick commented on #187
For QA validation: The issue was not related to backends, but to the fact that a cached API client did not re-login when it's cached token was expired.

[2016-08-12 15:10] matthiasdeblock opened #188 "albanode.initialize_disk during initialization of the disks"
2.7.1-fargo.2-1

Following error during initialization of the disks:

[code]

[2016-08-12 15:22] matthiasdeblock opened #189 "albanode.remove_disk error while removing a disk"
2.7.1-fargo.2-1

Error while removing a disk in the GUI:

[code]

[2016-08-16 09:51] kinvaris commented on #187
PASSED: Acquired bearer token, bearer token expired, retried call, got 401.

[2016-08-16 10:15] #187 closed

[2016-08-16 14:08] kinvaris commented on #155
FAILED: Tried to  verify it on environment `172.19.5.30` with `unstable` on version `2.7.2-rev.3867.ec9d46d-1`

[2016-08-16 14:51] kinvaris commented on #155
FAILED: This test failed, even when creating the symlinks.
[code]

[2016-08-16 15:07] kinvaris commented on #158
PASSED:
[code]

[2016-08-16 15:07] #158 closed

[2016-08-19 10:16] deepshirsath commented on #166
**_PASSED on 2.7.2-rev.3867.ec9d46d-1_**

Open vStorage: 2.7.2-rev.3867.ec9d46d-1
Open vStorage - Backend: 1.7.2-rev.675.37ca5b8-1
Open vStorage - SDM: 1.6.2-rev.330.f06c8de-1
Storage Driver - Base: 6.0.3-dev.201608091611.f23221e
Storage Driver - Server: 6.0.3-dev.201608091611.f23221e
Alba: 0.9.17
Arakoon 1.9.9

root@computenode1:~# ovs remove nodes 192.168.17.203

+++ Remove nodes started +++

WA

[2016-08-19 10:16] #166 closed

[2016-08-19 15:00] JeffreyDevloo commented on #180
It must have been a side affect. I couldn't reproduce the issue.
Issue has been fixed for 2.7.2-rev.3859.42b3488-1
Closing.

[2016-08-19 15:00] #180 closed

[2016-08-22 12:10] JeffreyDevloo commented on #169
Perhaps we shouldn't use the diskname as an identifier as these names aren't persistent.

[2016-08-25 07:10] wimpers opened #192 "Backend detail page hangs in case there is an issue with fetching the details of an ASD node."
Backend detail page hangs in case there is an issue with fetching the details of an ASD node.

[2016-08-25 07:18] khenderick commented on #192
Do you have some more information, especially what "an issue" is. Is it slow, or is it offline, or is there some error?

[2016-08-25 11:24] wimpers commented on #192
@saelbrec was investigating, I believe the proxy was crashing every few minutes.

[2016-08-29 14:13] wimpers commented on #192
Workaround:  fix the underlying issue.

[2016-09-01 11:02] openvstorage-ci opened #193 "Default replication policy is dangerous"
_From @wimpers on September 1, 2016 9:23_

If you select 3-way replication the policy is (1, 2, 1, 3). If you use this policy across a global backend (3 datacenters), there is no guarantee a copy will be available in each datacenter. A better approach would be to use (1,2,1,**1**).

_Copied from original issue: openvstorage/alba#361_

[2016-09-01 11:02] openvstorage-ci commented on #193
_From @domsj on September 1, 2016 10:39_

Don't you want to suggest (1,2,**2**,x) instead?

I think each local backend is considered to be part of it's own 'node', so the last constraint actually doesn't do much in this case.
And if they are not part of different nodes, then your suggestion would result in storing maximum 1 copy...

Btw: you want to move this ticket to the https://github.com/openv

[2016-09-01 11:25] khenderick commented on #193
When using global/local backends, the local backends each have a separate ```node-id```, so that should be ok.

If I understand everything correctly, (1, 2, 1, x) would be faster than (1, 2, 2, x), since it only has to wait for one write to complete, which might be interesting in a geoscale setup.

[2016-09-01 11:25] khenderick commented on #193
In any case, please update the ticket with the new policy structure for "replication"

[2016-09-01 11:29] domsj commented on #193
[code]

As long as enough backends are available it will currently not be faster, see https://github.com/openvstorage/alba/issues/302.
(And in case not enough local backends are available it will indeed be less safe)

[2016-09-01 11:34] wimpers commented on #193
Please update to (1,x,x-1,1) in case of replication.

[2016-09-01 11:35] khenderick commented on #193
Please note that this means the customer needs x-1 nodes or - in case of a global/local backend setup - x-1 datacenters.

[2016-09-01 11:35] wimpers commented on #193
yes, I'm aware

[2016-09-01 11:37] khenderick commented on #193
Implementation instructions: Please provide a small dynamic text that explains this limitation to the customer. E.g. "This requires (x-1) (nodes|backends)"

[2016-09-01 12:13] wimpers commented on #193
Decision from BAM : won't fix.

[2016-09-01 12:13] #193 closed

[2016-09-06 13:46] khenderick opened #198 "Re-enable upgrades"
Re-enable upgrades

[2016-09-06 13:57] khenderick commented on #198
Fixed by #197, packaged in openvstorage-backend-1.7.3-rev.689.95a4c61

Please note that the upgrade will work from the above package onwards. Upgrading to that package won't work.

[2016-09-08 09:20] khenderick commented on #177
@wimpers, this ticket was suddenly qualified, which option do you want to be implemented?
* My suggestion using the claimed disks to make an educated guess
* @domsj's suggestion to assign meaning to Domains wrt Alba Backends, configure them on Nodes and do assignment like that
* @domsj's suggestion to inplement a role system on the backend ("maintenance role")

[2016-09-08 09:44] wimpers commented on #177
@kenneth assign meaning to Domains wrt Alba Backends, configure them on Nodes and do assignment like that.

[2016-09-08 12:02] khenderick commented on #177
For a global backend using only remote backends this is an issue, as they don't have any nodes on which to run the maintenance mode.

[2016-09-08 12:08] openvstorage-ci opened #200 "Maintenance agent for global backens in case of remote backends"
_From @wimpers on September 8, 2016 12:7_

Ticket as extension of https://github.com/openvstorage/framework-alba-plugin/issues/177#issuecomment-245541422 . The approach taken in that case has an issue in case a global backend has only remote backends. In that case there are no nodes known to put the maintenance agents on. In this special case the maintenance agent should run on the same nodes as t

[2016-09-08 14:25] JeffreyDevloo commented on #198
In reference to: https://github.com/openvstorage/framework/issues/877
### Test result
Test passed.

[2016-09-08 14:25] #198 closed

[2016-09-12 07:01] wimpers opened #201 "Used space is more than 100% of a backend"
![2016-09-12_8-59-25](https://cloud.githubusercontent.com/assets/8392927/18427278/64337994-78c7-11e6-894f-7a76fe547f98.jpg)

[2016-09-12 12:02] khenderick commented on #201
Where does the framework get the data from:
* foreach namespace in ```show-namespaces```, sum up their ```storage``` value (let's call that sum ```ns_used```)
* foreach asd statistic in ```asd-multistatistics``` (from all by the framework claimed osds), sum up their ```capacity``` (let's call that sum ```capacity```) and ```disk_usage``` (let's call that sum ```used```)

In the above diagram:
* Fr

[2016-09-12 12:10] wimpers commented on #201
The right ones.

What I assume is the issue is that fro a backend that is also used for the fragment cache, data which was removed from the cache isn't taken into account.

[2016-09-12 12:17] domsj commented on #201
[code]

That is indeed still the case. I suggest summing the sizes of the storage per osd to get the desired result

[2016-09-12 12:18] khenderick commented on #201
So, let's conclude I use - in the above example - ```capacity``` and ```used``` to display everything, and get rid of ```overhead```. Can we agree on that, @wimpers?

[2016-09-13 10:45] khenderick commented on #177
Fixed by #202, packaged in openvstorage-backend-1.7.3-rev.694.f9f958c

[2016-09-14 13:09] wimpers commented on #201
For used, use storage per OSD and remove overhead.

[2016-09-14 15:06] openvstorage-ci opened #204 "Make fragment size of preset configurable through GUI"
_From @kinvaris on August 18, 2016 9:33_

Currently we have to create a preset through the CLi if we want another fragment size.
In the GeoScale perspective, it would be interesting to make the fragment size of the preset configurable during creation/update.

_Copied from original issue: openvstorage/framework#819_

[2016-09-14 15:06] openvstorage-ci commented on #204
_From @domsj on August 18, 2016 9:43_

FYI: updating the fragment size of an existing preset is currently not supported by alba.
If you need that (and maybe allow updating compression/encryption/name and others(?) too while at it): please file a ticket for alba too.

[2016-09-14 15:06] openvstorage-ci commented on #204
_From @domsj on September 14, 2016 15:6_

This is important for global backends: you definitely want a bigger fragment size there.

[2016-09-15 08:14] openvstorage-ci opened #205 "'dict' object has no attribute 'cluster_id'"
_From @JeffreyDevloo on September 15, 2016 8:5_

## Problem description
Executed the following scripts:
[code]
Got the following error during AlbaController.nsm_checkup(backend_guid=guid, min_nsms=3):  'dict' object has no attribute 'cluster_id'

Logfile:
[code]

Stacktrace:
[code]

## Possible root of the problem
A new step was required with the Arakoon as config manager:
ArakoonInstaller.unclaim

[2016-09-15 08:14] JeffreyDevloo commented on #205
TLDR: there is a key: cluster_id missing that is required in AlbaController.nsm_checkup. (Line 888
![selection_076](https://cloud.githubusercontent.com/assets/17570109/18542823/21b14160-7b2d-11e6-8851-be32c6e1486e.png))

[2016-09-15 08:40] khenderick commented on #205
Fixed in #206, packaged in openvstorage-backend-1.7.3-rev.699.85f8422

[2016-09-15 09:03] khenderick opened #207 "ASDManager wrapper should raise on failure"
ASDManager wrapper should raise on failure

[2016-09-15 09:15] JeffreyDevloo opened #209 "Two contradicting log entries for nsm_checkup: succesful and failed"
## Problem description
Executed AlbaController.nsm_checkup(backend_guid=guid, min_nsms=3)
Found in /var/log/ovs/lib.log:
[code]
The ids of the task are identical. The job ran (as far as I know) successfully.
### Setup

Geoscale setup

### Package information

- openvstorage                       2.7.3-rev.3956.a9861c0-1                                 amd64        openvStorage
- openvstorage-backe

[2016-09-15 09:32] khenderick commented on #207
Fixed by #208, packaged in openvstorage-backend-1.7.3-rev.702.e25b455

[2016-09-15 09:35] openvstorage-ci commented on #209
This issue was moved to openvstorage/framework#907

[2016-09-15 09:35] #209 closed

[2016-09-15 09:58] openvstorage-ci opened #210 "Backend status `ok` but maintenance agents are missing"
_From @kinvaris on August 29, 2016 14:32_

While setting up my cluster, a node was having some problems and I got an exception during `add_albacluster`. But the backend status was `OK`, I noticed some problems after initializing the disks and I could not claim them. Apparently the maintenance agents were missing...

[code]

_Copied from original issue: openvstorage/alba-asdmanager#101_

[2016-09-15 09:58] openvstorage-ci commented on #210
_From @wimpers on September 2, 2016 12:28_

@kinvaris did you get an error in the GUI during the add backend? Were you able remove the backend?

[2016-09-15 10:38] khenderick commented on #210
@wimpers, at this point there should be no error message during cluster setup if no maintenance agents are running (for whatever reason). However, a customer cannot see this (except that he won't be able to claim asds)

[2016-09-15 11:53] wimpers commented on #200
To be discussed how to tackle

[2016-09-16 12:50] openvstorage-ci opened #213 "High amount of maintenance agents"
_From @JeffreyDevloo on September 16, 2016 12:44_

## Problem description

On a geoscale cluster with 15 nodes, we found that there are 15 maintenance agents for each backend

[code]
This amount will cause some load and would be harder to maintain.

## Possible solution
Default it to a lower number ( 3 would be fine)
## Additional information

### Setup

Geoscale setup

### Package information

-

[2016-09-16 12:53] khenderick commented on #213
Fixed by #212, packaged in openvstorage-backend-1.7.3-rev.707.3b911c8

[2016-09-17 12:19] wimpers opened #215 "error while creation preset"
error "error while sending data on socket" (hdd strasbourg).

@kinvaris can you check if you find something back in the logs?  The backend was named 3wayreplication

[2016-09-19 08:26] JeffreyDevloo commented on #205
### Steps
During the installation of OVH, I executed the same script as linked above. This time with no error.

### Test results
Test passed.

[2016-09-19 08:26] #205 closed

[2016-09-19 09:21] JeffreyDevloo commented on #213
### Steps
- Installed OVS on a fresh environment
- Added disk roles
- Added backends
- Fetched maintenance agents

### Output
[code]
### Test result
Test passed. Previously the amount of maintenance agents was the same as the amount of nodes in the cluster. Now I found 3 for a six node cluster.

### Setup

Hyperconverged setup

- Six nodes with each three disks for the back-end

### Package inform

[2016-09-19 09:21] #213 closed

[2016-09-19 13:03] toolslive opened #216 "framework can't handle arbitrary preset names"
`kinetic_preset` for example.

[2016-09-19 14:14] kinvaris commented on #215
https://github.com/openvstorage/framework/issues/927

[2016-09-19 14:14] #215 closed

[2016-09-19 14:46] khenderick commented on #216
Current regex: ```/^[0-9a-zA-Z][a-zA-Z0-9]{1,18}[a-zA-Z0-9]$/```

[2016-09-23 07:03] khenderick opened #217 "Error in NSM scaling logic"
Error in NSM scaling logic. When the code is supposed to automatically scale the NSMs, it just assumes there are enough clusters running and doesn't create new clusters.

**Only fix this when we have the time to write unittests**

[2016-09-23 09:14] khenderick commented on #217
As soon as a node is overloaded, the ```min_nsms``` argument is ignored and only one is deployed.

[2016-09-27 16:18] wimpers commented on #210
If we are not depending on maintenance agents, why do we check? Result should be that the status is error.

[2016-09-30 14:03] khenderick commented on #217
Fixed by #221, packaged in openvstorage-backend-1.7.3-rev.721.b4724e5

[2016-09-30 14:05] khenderick commented on #210
We are depending on them, not having maintenance agents is an issue since you won't be able to claim any asds. However, at backend creation time, the checkup is launched asynchronously so the add backend process won't be blocked/aborted by a possible error in the maintenance agent checkup.

[2016-10-03 09:42] openvstorage-ci opened #222 "Integrate the ALBA Archive tier"
_From @wimpers on October 3, 2016 8:29_

Integrate the ALBA Archive Tier

_Copied from original issue: openvstorage/framework#981_

[2016-10-03 14:51] openvstorage-ci opened #223 "`list index out of range` during `albanode.initialize_disk`"
_From @kinvaris on September 2, 2016 12:53_

While trying to initialize the alba disks we got this error: (happens alot)

[code]

_Copied from original issue: openvstorage/framework#869_

[2016-10-03 14:51] openvstorage-ci commented on #223
_From @wimpers on September 7, 2016 12:6_

@kinvaris is there a workaround?

[2016-10-03 14:53] khenderick commented on #174
Should have been resolved by openvstorage/framework#901, packaged in openvstorage-2.7.3-rev.3978.4f93e02

[2016-10-03 14:56] khenderick commented on #223
To be re-validated after openvstorage/framework#792 is completed as this will make the disk partition detection more reliable.

[2016-10-03 14:59] khenderick commented on #169
Depending on the implementation of openvstorage/framework#792 and the implementation of the same logic in the openvstorage/asd-manager repo. This will result in both sides having the same code, which in turn should make this ticket obsolete.

[2016-10-03 15:01] openvstorage-ci commented on #155
This issue was moved to openvstorage/alba-asdmanager#121

[2016-10-03 15:01] #155 closed

[2016-10-04 11:55] JeffreyDevloo opened #227 "ASDS sharing port"
## Problem description
During alba alba-bench test I found that
[code]
was occuring for every extra asd that I specified.
The flow that I used was:
- init disks and claim asds
- run alba bench
- remove all disks and increment the asds count
- back to step 1

Further investigation lead to:

[code]
Summarized: the asds are using the same port.

## Additional information

### Setup

Hyperconverged se

[2016-10-04 11:59] khenderick commented on #227
After investigation with @domsj , it turned out that certain asds were not (correctly) purged with Alba. It seems the Framework code absorbs exceptions on purge, and continue to clean up the Asd. However, if a new Asd is created, it might use the same port and register it with the same Alba backend, which still knows about the previous instance. This obviously causes issues.

[2016-10-04 12:21] domsj commented on #227
It doesn't cause too much issues though, the proxy/benchmark/maintenance will quickly disqualify it.
After 15 minutes (by default) we'll even start repairing it. Some data in the nsms will however never be cleaned up due to this.

[2016-10-04 12:46] khenderick commented on #227
Duplicate asds:
* 172.22.1.30:8618 with id ```jS3qR7sAlCqvN2gF3tzw0UeJP11eDcSf```
* 172.22.1.30:8618 with id ```kY7ipX4Kv1KZ7wDgMIBZoOFTLLB0qsCv```

After investigation, on node ```cmp04```, I see a task to remove ```jS3...```, which completes about 32 seconds later. While our code ignores exceptions on ```purge-osd``` (which should be removed) it does log the error. However, no error is found ind

[2016-10-04 13:29] khenderick commented on #227
Added logging by #228, packaged in openvstorage-backend-1.7.4-rev.727.349f39c. Please try again, and if the same issue pops up, we'll have some more logging.

[2016-10-04 14:55] khenderick commented on #227
Got more logging which revealed that as soon as 2 asds are claimed on a single disk, some things get added to the model incorrectly, causing the above issue, but also causing the backend to be unremovable.

[2016-10-04 15:06] khenderick commented on #227
Fixed by #229, packaged in openvstorage-backend-1.7.4-rev.729.69c9518

[2016-10-05 12:36] wimpers opened #230 "Statistics (puts/gets per second) are 0 for global backend"
Statistics (puts/gets per second) are 0 for global backend.

I currently don't see how we can provide these statistics ( @domsj any idea) so removing them might be a better idea.

[2016-10-06 07:28] khenderick commented on #230
We use ```asd-multistatistics``` to fetch the ```multi_get``` and ```apply``` parameters, so it just should work. If it doesn't show then there's either a bug in the Framework or Alba.

So I'd rather just fix the bug?

[2016-10-06 07:35] khenderick commented on #230
So we can just gather an sum up the ```asd-multistatistics``` and you will have high numbers. However, I wonder what numbers you actually expect; if you write one object to the backend. Do you want to see 1 put? At this moment - on a local backend - if you write one object with a  8, 5, x, x policy, you might see 13 puts instead.

[2016-10-07 12:11] wimpers commented on #204
Fragment size can already be set through the API( https://github.com/openvstorage/framework-alba-plugin/pull/233)

[2016-10-07 12:12] khenderick commented on #204
API implementation by #233, packaged in openvstorage-backend-1.7.4-rev.736.e21c2bb

[2016-10-11 08:48] JeffreyDevloo commented on #227
### Steps
The following steps were automated during a benchmark test:
- Installed hyperconverged cluster
- Assigned disk roles
- Added a backend
- Initialized disks
- Claimed asds
- Benchmark
- Removed asds
- Removed disks
- Go back to initialized disks and repeat until asd/ssd is 16

### Output
Asd removal tasks are successful:
- Purge record in the log
- Successful deletion record
[code]

### Te

[2016-10-11 08:48] #227 closed

[2016-10-11 12:48] wimpers commented on #216
@toolslive  what does ALBA allow?

I would say a-Z0-9 and - and _ (where - and _ can't be the first character)

[2016-10-11 13:05] wimpers opened #237 "Set fragment size to 16MB by default instead of 1MB"
Set fragment size to 16MB by default instead of 1MB.

[2016-10-11 13:17] khenderick commented on #185
Fixed by #236, packaged in openvstorage-backend-1.7.4-rev.746.8ac8d76

[2016-10-13 11:58] kvanhijf commented on #223
Most likely fixed by: https://github.com/openvstorage/framework/issues/792

[2016-10-13 12:00] kvanhijf commented on #189
Most likely fixed by https://github.com/openvstorage/framework/issues/792

[2016-10-13 12:02] kvanhijf commented on #171
Most likely fixed by https://github.com/openvstorage/framework/issues/792

[2016-10-13 12:07] kvanhijf commented on #170
Most likely fixed by https://github.com/openvstorage/framework/issues/792

I did not pay attention to this ticket while fixing the above issue.
However we now store aliases in the model on the Disk DAL object
These aliases are the paths pointing to a certain device

Eg:
/dev/disk/by-id/scsi-1ATA_TOSHIBA_MK2002TSKB_92M1KDMHF is the alias for /dev/sdb on my system
This alias contains both the model

[2016-10-13 12:09] kvanhijf commented on #169
Most likely fixed by https://github.com/openvstorage/framework/issues/792

[2016-10-14 15:24] khenderick commented on #237
openvstorage-backend-1.7.4-rev.764.b87b3c9Fixed by #242, packaged in

[2016-10-14 15:56] khenderick commented on #192
Could not reproduce the issue, but found a few minor glitches in the interface which I fixed by #243, packaged in openvstorage-backend-1.7.4-rev.766.0d9f30e

[2016-10-17 11:56] JeffreyDevloo opened #244 "Calculate safety results in RuntimeError: (Failure "unknown osd XXX")"
## Problem description

When running a scenario that initializes and claims asds multiple times with an increasing number of asds, I experienced a strange bug. All the calculate_safety calls return the calculate_safety error from an older, failed asd:

[code]

A full traceback log of what happened:

[code]

Calculating the safety for any ASD is hindered due to this exception.
![selection_108](http

[2016-10-17 12:04] JeffreyDevloo commented on #244
Removed the similarity as the tickets are not related.

[2016-10-17 12:11] khenderick commented on #244
Probably some error after purging, before removal that now causes issues. We should handle this error on more places

[2016-10-18 11:12] khenderick commented on #244
Fixed by #245, packaged in openvstorage-backend-1.7.4-rev.770.ae31d34

[2016-10-19 08:11] JeffreyDevloo commented on #237
### Steps
- Setup cluster
- Added roles to disks
- Added backend
- Added a new preset
- Verified the fragment size

Code to verify:
[code]

### Output
[code]
The fragmentsize for the default preset is still 1MB

### Test result
Test failed.

[2016-10-19 08:18] JeffreyDevloo commented on #237
### Information
The framework code works as intended. The reason why the test initially failed was due to the default preset shipped by Alba therefore this issue has been resolved.
Opened a ticket on their side https://github.com/openvstorage/alba/issues/410.

### Test result
Test passed.

[2016-10-19 08:18] #237 closed

[2016-10-19 08:41] wimpers commented on #237
The decision was to have the framework set the default of 16MB when creating the backend. The ALBA default did not have to be updated.

[2016-10-27 08:05] domsj opened #252 "Verify namespace is scheduled every day (in the first month of each quarter)"
I noticed a lot of verify namespace work items on some env, seems like (this month) they are scheduled every day.
Verify namespace is quite costly and couldn't finish it's work in a day so maintenance barely had time/resources to do the other stuff it's supposed to do.

[code]

[2016-10-27 08:19] kinvaris opened #253 "Initializing disk succeeded but add asds disagrees"
As seen on one of our CI environments:

[code]

[2016-10-27 09:29] khenderick commented on #252
Fixed by #254, packaged in openvstorage-2.7.4-rev.4204.f4c4cb8

[2016-10-27 15:18] kvanhijf commented on #253
https://github.com/openvstorage/alba-asdmanager/pull/137 --> openvstorage-sdm-1.6.4-rev.400.f51c4e2

[2016-10-27 15:19] kvanhijf commented on #253
@QA: Was only an issue on Ubuntu 16.04 and should not always have occurred, dependent on speed of hardware / software. Should no longer re-occur since we now implemented a proper way to wait for the partitions to have been created

[2016-10-31 07:51] openvstorage-ci commented on #253
This issue was moved to openvstorage/alba-asdmanager#142

[2016-10-31 07:51] #253 closed

[2016-11-02 09:05] JeffreyDevloo commented on #252
### Information
Referring to the celery scheduling docs:
[code]
Previously the task did not specify any days.
[code]
Meaning that it defaulted to days=* which meant everyday of the first month of each quarter.
Currently the task is scheduled on the first day on 24:00 on the first month of each quarter.
[code]

### Test result
Test passed.

[2016-11-02 09:05] #252 closed

[2016-11-03 12:53] pploegaert opened #260 "Update of framework fails on third node with KeyError: aliases"
[code]

[2016-11-03 16:23] khenderick commented on #260
This ticket will only resolve this particular issue by removing some of the migration code. Continued in openvstorage/framework#1118. As long as that ticket is not resolved, the migration will not be complete (but it is not critical for the system to work)

[2016-11-04 10:23] khenderick commented on #260
Fixed by #261, packaged in openvstorage-backend-1.7.4-rev.803.b142af7

[2016-11-04 10:31] JeffreyDevloo commented on #156
### Information
I was unable to reproduce the issue.
Mainly due to the snippet above being incorrect and will always result in hanging in the shell.

#### Reproduction attempt
##### Code
Waiting for the threads to complete should really point out to hanging threads.
This is due to the nature of threading in Python: if the thread does not return the or break out of itself, the thread will hang and

[2016-11-04 10:31] #156 closed

[2016-11-04 14:59] pploegaert opened #262 "System cannot handle old asd-managers"
To be investigated.

After restart of asd-manager, they all turn green, however when trying to remove an asd ... the wizard keeps loading while calculating disk safety ...

[2016-11-04 15:08] khenderick commented on #262
New format:

[code]

Old format:

[code]

[2016-11-07 07:04] #260 closed

[2016-11-07 07:05] pploegaert commented on #260
PASSED - manual validation

[2016-11-07 09:12] khenderick commented on #262
Fixed by #266, packaged in openvstorage-backend-1.7.5-rev.809.4a885f8

[2016-11-07 09:14] khenderick commented on #262
Information for QA:
* Install 2.7.3 Fargo
* Upgrade to 2.7.4 Fargo (but somehow prevent the asd-manager from being restarted by the upgrade)
* Backend detail page should not show errors related to the update

[2016-11-09 13:42] domsj opened #268 "Integrate alba proxy-osd functionality"
Currently a 'local' backend can be used as an osd inside a global backend.
This is done by giving registering the abm config of the local backend in the global backend.
Proxies & maintenance of the global backend talk directly with the osds of the local backend - which has both advantages & disadvantages.

As of the next alba release (1.0.1) it will be possible to add a set of proxies (that all ex

[2016-11-09 13:46] khenderick commented on #268
I would assume that in this case, the proxy would run on the ovs cluster of the "local backend" and thus means that the "global backend" should only be able to reach the "local backend"'s proxy (single ip & port) instead of possibly tons of individual ASDs?

[2016-11-09 13:51] domsj commented on #268
indeed, the local asds don't have to be accessible for global proxies/maintenance

[2016-11-10 14:28] domsj opened #270 "Integrate alba ctr mode encryption"
In the next alba version CTR mode encryption should be available: https://github.com/openvstorage/alba/pull/444 .

Where it used to say "aes-cbc-256" you can now also specify "aes-ctr-256".

When you have a new enough alba everywhere (all alba components updated to support this feature) it's recommended to use CTR mode for encryption instead of CBC, because it plays along nicer with partial reads

[2016-11-10 15:48] JeffreyDevloo commented on #207
### Information
Verifying this based on code. The ASDManager wrapper would only error in normal cases if the asd-manager should fail (and our goal is to make it work).

Instead of returning calls that were unsuccessful, the code will now throw a RunTimeError.

Closing.

[2016-11-10 15:48] #207 closed

[2016-11-10 16:01] JeffreyDevloo commented on #170
### Steps
- Setup latest cluster
- Grepped disk information

### Output
[code]

### Test result
The information that the ticket request is available in one of the aliases.
Test passed.

### Packages
- openvstorage                         2.7.5-rev.4283.a9965c9-1        amd64        openvStorage
- openvstorage-backend                 1.7.5-rev.811.c1b83e6-1         amd64        openvStorage Backend

[2016-11-10 16:01] #170 closed

[2016-11-10 17:02] kinvaris commented on #177
Will verify this next week during reinstall/upgrade of OVH environment.

[2016-11-14 10:36] JeffreyDevloo commented on #262
### Information
This issue comes forth from a bug where the asd-manager wasn't restarted after an update.
The issue that started this is https://github.com/openvstorage/alba-asdmanager/issues/146 and has been fixed.
Will try to reproduce this with the following steps:
- Stop asd-manager
- Replace executable by dummy proces
- Start dummy proces
- Start the real asd-manager in a screen
- Run update

[2016-11-14 12:34] JeffreyDevloo commented on #262
### Information
Seeing as the origin of the issue is closed, I will close this one as well.
The backwards compatibility would have never been seen otherwise.

[2016-11-14 12:34] #262 closed

[2016-11-14 13:30] wimpers commented on #270
Bam believes this is a small one?

[2016-11-14 13:33] khenderick commented on #270
No, since the "when you have a new enough alba everywhere" is not a supported use-case yet. Todo: have this async upgrade stuff in place that can enable/migrate certain features when a set of pre-requirements are met (e.g. version > X on all nodes).

[2016-11-15 10:54] domsj opened #274 "systemd does not restart services that spontaneously stopped"
I did a `pkill alba` on a storage node and the asd/maintenance processes were not restarted by systemd.
This differs from the previous behaviour with upstart (on ubuntu 14.04).
The same problem probably exists for all other services, so you may want to create an equivalent ticket on the framework repo.

[2016-11-15 12:03] khenderick commented on #274
Now we have ```Restart=on-failure``` and I think this should be ```Restart=always``` or sth like that.

[2016-11-15 12:05] khenderick commented on #274
Reminder to write update logic that can rebuild all service files where required.

[2016-11-18 15:16] JeffreyDevloo commented on #244
### Steps
- Setup latest cluster
- Configured latest cluster
- Manually purged an asd
[code]
- Removed the asd
[code]

### Output
[code]

### Test results
Test passed.

### Packages
- openvstorage                         2.7.6-rev.4320.8c4fb99-1        amd64        openvStorage
- openvstorage-backend                 1.7.6-rev.817.91abb7c-1         amd64        openvStorage Backend plugin
- openvst

[2016-11-18 15:16] #244 closed

[2016-11-21 12:41] JeffreyDevloo commented on #169
### Steps
- Setup latest cluster
- Configured latest cluster
- Evaluated if backend disks could be configured with roles (code wise and GUI wise)

### Output
#### GUI:
![selection_066](https://cloud.githubusercontent.com/assets/17570109/20478478/8f3a639c-afda-11e6-9b91-d58a9b27c1e7.png)

#### API
Code:
[code]
Output:
[code]

### Test result
Test failed. The call has been blocked on GUI but can sti

[2016-11-21 12:44] wimpers commented on #270
I think we can assume that all nodes will have the newest ALBA and the use case where not all nodes have the new ALBA can be ignored.

[2016-11-21 13:02] #169 closed

[2016-11-21 13:22] JeffreyDevloo opened #275 "Backend role can be overwritten by api"
### Problem description
The GUI prohibits the ability to configure a disk, that has been claimed for a backend, with any of the roles.
The API however still allows the disk/partition to be configured to your liking.

#### Testing code
[code]
### Output
[code]
### Possible solution
Return an error when the role is ['BACKEND']

[2016-11-21 14:47] wimpers commented on #270
Also you can't switch from encryption mode so going from none/cbs to ctr isn't supported.

[2016-11-21 14:48] wimpers commented on #270
Basically no need to check if ALBA version is up to date.

[2016-11-21 15:36] khenderick commented on #270
Ok, fair enough.

However, to be noted that if a customer updates the framework, and then selects the new encryption method, it will fail.

[2016-11-21 15:38] wimpers commented on #270
Ok, noted

[2016-11-22 12:36] wimpers commented on #230
I believe put and get statistics are becoming meaningless for vpools/backends so I'd rather remove them from the GUI.

With RORA and HPRM we go directly to the ASDs bypassing the proxy (where these values are now aggregated. This means that if we want to provide statistics we need to gather them on an ASD level per namespace. I don't see the benefit of having an aggregate of these gets/puts per vP

[2016-11-22 12:47] JeffreyDevloo commented on #174
### Steps
- Setup latest cluster
- Configured cluster
- Deleted asd disk
- Tried to remove disk from backend

### Output
Got
![selection_068](https://cloud.githubusercontent.com/assets/17570109/20524042/97375dd2-b0b8-11e6-96a9-cef66c51340b.png)

Logs:
[code]

### Test result
Well the error is more clear now.
I will need some input if this is fine or not

### Packages
- openvstorage

[2016-11-22 13:28] kinvaris commented on #177
On OVH we see indeed that the maintenance agents are placed in the respective datacenters. Although these are only 2 sites where we observed this.

[2016-11-22 13:28] #177 closed

[2016-11-22 15:53] JeffreyDevloo commented on #223
### Information
The author states that the error occurred a lot. However we have no longer encountered error since 15 Oct on our auto testing environments.

However a manual verification below:

### Steps
- Setup latest cluster
- Configured latest cluster
- Claimed disks

### Output
Disks were successfully claimed.

#### GUI
![selection_071](https://cloud.githubusercontent.com/assets/17570109/2053

[2016-11-22 15:53] #223 closed

[2016-11-24 10:52] kvanhijf opened #280 "Linking LOCAL/GLOBAL backends should watch for 'decommissioned' flag"
Issue:
Unlinking a backend from another backend is successful, but linking the same backend again wont do anything

Cause:
After having unlinked/removed a backend from another backend, we issue a purge-osd command to ALBA
This results in the OSD having a 'decommissioned' flag set to True and this OSD will eventually be removed from the 'list-all-osds' output

Fix:
Now when adding the same backend

[2016-11-24 11:16] domsj commented on #280
yes this is correct

[2016-11-24 12:19] khenderick commented on #201
Fixed by #279, packaged in openvstorage-backend-1.7.6-rev.822.ff4199c

[2016-11-24 12:48] wimpers commented on #280
When unlinking a backend we should not purge.

[2016-11-24 12:52] khenderick commented on #280
@wimpers, how will the data on it be removed in that case?

[2016-11-24 13:17] wimpers commented on #230
Decision is to remove the put/get stats per backend

[2016-11-24 13:22] openvstorage-ci opened #281 "Remove get/puts stats of a backend in GUI"
_From @wimpers on November 24, 2016 13:18_

_Copied from original issue: openvstorage/framework#1208_

[2016-11-24 13:26] wimpers commented on #280
the idea was now that we don't remove data ( @saelbrec  ) if you unlink a backend

[2016-11-24 14:55] wimpers commented on #280
After discussion with the team:
* The purge of the local backend is needed.
* When adding in the GUI, we should display that an purge is ongoing and blocking it.

[2016-11-24 15:45] kvanhijf commented on #280
Sidenote: Shouldn't we also mention some warning if any of the presets no longer match? Cause when writing to this backend, a 'NoSatisfiablePolicy' error will be thrown

[2016-11-24 16:41] khenderick commented on #280
@kvanhijf, if you mean in the backend detail page? This might be a fairly easy change and imo an interesting feature.

[2016-11-25 07:48] #230 closed

[2016-11-25 08:13] kvanhijf commented on #280
Additionally we should also do this for LOCAL backends. When removing ASDs report a warning if none of the presets will be matching anymore.
@wimpers : should we make a separate ticket for this?
Ticket1 (this 1) to make sure that relinking a backend shows a message about the OSD still being deleted
Ticket2 (new 1) to make sure that when any of the presets can be matched when removing OSDs from eit

[2016-11-25 08:22] wimpers commented on #280
@kvanhijf  please create a separate ticket.

[2016-11-25 09:04] kvanhijf opened #282 "Unlinking Backends and removing ASDs should show warning about unmatching presets"
We should make sure that when any of the presets can no longer be matched when removing OSDs from either a LOCAL or GLOBAL backend a message/warning is shown

In the current state, we always allow this, but this could result in a backend which doesn't allow the customer to write to anymore.

[2016-11-25 09:05] kvanhijf commented on #280
Issue related to this ticket: https://github.com/openvstorage/framework-alba-plugin/issues/282
This ticket should solely solve the problem about the warning shown when the Backend OSD is still being purged. This ticket should NOT solve the issue about showing a warning when the presets are no longer matched (See linked ticket for this)

[2016-11-25 13:16] khenderick commented on #274
Documentation states that usually an ```on-failure``` should be the way to go, and ```always``` isn't the best option. E.g. you won't be able to stop the service by manually terminating it (outside systemd). Is that really what we want?

[2016-11-25 14:32] wimpers commented on #178
After discussion with stakeholders decision was to go for option1 . Create Arakoons in advance and select them while creating the backend. Must be possible to add nsm arakoons afterwards?

[2016-11-25 15:06] wimpers commented on #178
This functionality is only exposed in the API (not in the GUI).
When creating a backend you can specify
* abm arakoon
* nsm arakoon: a list of nsm arakoons to use

[2016-11-25 15:18] wimpers opened #284 "Allow to add nsm arakoon to a backend (api)"
This is an extension of https://github.com/openvstorage/framework-alba-plugin/issues/178. In the API we should have an option to add a nsm arakoon to a backend in the case the cluster is using externally managed arakoons.

[2016-11-28 13:14] wimpers commented on #268
After discussion with stakeholders moved to Gilbert as we don't have any customers which need it for FArgo.

[2016-11-30 09:45] openvstorage-ci opened #288 "Integrate alba return codes"
_From @khenderick on November 29, 2016 11:11_

Integrate alba return codes. It's nicer than just trying to parse the output to json and handle possible exceptions

_Copied from original issue: openvstorage/framework#1226_

[2016-11-30 09:45] openvstorage-ci commented on #288
_From @wimpers on November 29, 2016 14:36_

@domsj  @toolslive let's first make sure ALBA gives returns the right return code. If so , please leave a  comment.

[2016-11-30 09:45] openvstorage-ci commented on #288
_From @domsj on November 29, 2016 14:43_

It should be in the next release. Relevant PR https://github.com/openvstorage/alba/pull/466.

When passing --to-json nothing changes.
Exit code 0 => there should be valid json to parse.
Exit code 1 => something went wrong earlier than expected, probably bad input was given to the cli ... there is no parse-able json outputted.

[2016-11-30 09:45] openvstorage-ci commented on #288
_From @khenderick on November 29, 2016 14:55_

After some more discussions with @domsj and @toolslive, it turned out that when the json flag is passed, everything is like it was before. However, if not passed, the behavior might be different.

So we need to take this up _before_ the mentioned PR lands in unstable.

[2016-11-30 09:45] openvstorage-ci commented on #288
_From @domsj on November 29, 2016 15:7_

Fwiw we are introducing a breaking change when --to-json is not specified.
We can do this differently: add some extra flag --error-should-result-in-non-zero-exit-code (or sth along those lines ;-)), and only change the behavior when this flag is specified.
Although the consensus seems to be that we're fixing a bug, and not that we're breaking backwards comp

[2016-11-30 09:45] openvstorage-ci commented on #288
_From @wimpers on November 29, 2016 15:22_

So Gilbert will not fly? This might have some impact on existing code as we need to check everywhere we use  the error codes I assume?

[2016-11-30 09:45] openvstorage-ci commented on #288
_From @khenderick on November 29, 2016 15:22_

@wimpers, We use this only at one place; our python wrapper.

[2016-11-30 09:45] openvstorage-ci commented on #288
_From @wimpers on November 29, 2016 15:34_

So it should be a quick one and you can squeeze it into Fargo RC2 you mean?

[2016-11-30 16:47] kvanhijf commented on #288
https://github.com/openvstorage/framework-alba-plugin/pull/291 --> openvstorage-backend-1.7.7-rev.844.358139f

[2016-11-30 16:50] kvanhijf commented on #288
@QA:
Every alba cli call should internally use the --to-json flag now
When an incorrect config or unknown param is specified, a generic RuntimeError should be raised by our albacli python wrapper
When the call itself fails due to whatever reason, also a RuntimeError should be raised, but now containing an error message coming from ALBA

[2016-12-01 08:19] openvstorage-ci opened #292 "Integrate local read preference"
_From @wimpers on November 9, 2016 15:26_

Integrate local read preference ticket of ALBA (https://github.com/openvstorage/alba/issues/301)

_Copied from original issue: openvstorage/framework#1142_

[2016-12-01 08:19] openvstorage-ci commented on #292
_From @wimpers on November 28, 2016 9:21_

After discussion with @khenderick decision was to define the 'localness' based upon domains.

To make this working:
* Local backends need to be labelled with a domain. (can already be done)
* External backends which are linked need to be labelled with a domain. (to add)
* Storage routers need to be labelled with a domain. (can already be done)

Notes:
* A

[2016-12-02 08:51] kinvaris opened #294 "TypeError: AlbaCLI.run() takes at least 2 arguments (2 given)"
We've observed that the `config` parameter is mandatory when performing a `AlbaCLI.run()` call. For some cases like `proxy-client-cfg` this is not mandatory.

[code]

@khenderick created a small patch to get this working again:
[code]

[2016-12-02 09:31] khenderick commented on #294
Fixed by @kinvaris by #295, packaged in openvstorage-backend-1.7.7-rev.846.79f6fa3

[2016-12-02 13:04] kinvaris commented on #294
PASSED: Performed this on a node with given package:
[code]

[2016-12-02 13:04] #294 closed

[2016-12-05 07:39] kvanhijf commented on #292
https://github.com/openvstorage/framework/pull/1236 -->
https://github.com/openvstorage/alba-asdmanager/pull/179 -->
https://github.com/openvstorage/framework-alba-plugin/pull/293 -->

[2016-12-05 07:50] kvanhijf commented on #292
@QA:
Local read preference is given to the ALBA proxy service when both the backend domain and the storagerouter domains match. This is only configured when a vPool is created using a GLOBAL backend (local)

Eg:
LOCAL backend with domain: 'dom1'
LOCAL backend with domain: 'dom2'
LOCAL backend with domain: 'dom1'
GLOBAL backend w/o domains

The GLOBAL backend is linked to the 3 LOCAL backends and e

[2016-12-05 08:31] kvanhijf commented on #292
https://github.com/openvstorage/framework/pull/1236 --> openvstorage-2.7.7-rev.4395.5099afe
https://github.com/openvstorage/alba-asdmanager/pull/179 --> openvstorage-sdm-1.6.7-rev.478.a1849c5
https://github.com/openvstorage/framework-alba-plugin/pull/293 --> openvstorage-backend-1.7.7-rev.851.85b61b8

[2016-12-05 09:50] kvanhijf commented on #280
Issue was fixed by https://github.com/openvstorage/framework-alba-plugin/issues/292
@QA: Unlink a backend from a GLOBAL backend and link it again right away. A warning should pop up satting that the previously linked backend is still being removed

[2016-12-05 10:33] openvstorage-ci opened #296 "Linking alba backends requires domain-guid. API code disagrees"
_From @JeffreyDevloo on December 5, 2016 10:24_

### Problem description
Domain_guid is not a required parameter in the metadata.
Code ovs/lib/alba.py -- line 1185:
[code]
However, if this parameter is not given, the api will return 'domain_guid'.
eg:
[code]
Gave:
[code]

### Packages
[code]

_Copied from original issue: openvstorage/framework#1240_

[2016-12-05 10:59] kvanhijf commented on #296
https://github.com/openvstorage/framework-alba-plugin/pull/297 --> openvstorage-backend-1.7.7-rev.853.050d474

[2016-12-05 12:41] JeffreyDevloo commented on #296
### Steps
- Setup latest cluster
- Ran the same installation code as to when I encountered this problem
### Output
Previously linking would give me a runtime error. Now I found
[code]
The domains should be empty (as none were provided)
![selection_084](https://cloud.githubusercontent.com/assets/17570109/20885307/715ca9cc-baf0-11e6-9746-59d7c1bc4155.png)
### Test result
Test passed.

[2016-12-05 12:41] #296 closed

[2016-12-12 08:16] khenderick commented on #174
After investigation:
* Not the same issue as initially reported, but due to the delay in the verification, it seems this was more of a regression.
* The issue is dat since the ASD Manager has no model, it cannot make the link anymore to a given partition (hosting the ASDs which can be discovered by reading fstab), and the disk device that is not longer present.

Issues solving this:
* The ASD Mana

[2016-12-12 16:02] kvanhijf commented on #270
https://github.com/openvstorage/framework-alba-plugin/pull/302 --> openvstorage-backend-1.7.8-rev.873.16660bb

@QA: This new encryption method is not yet available until the alba team provides us with a new version
@domsj or @toolslive : ALBA 1.2.5 will contain support for this encryption mode?

@QA: Additional verification logic has been added to our BLL
* Delete preset
** If preset name does not

[2016-12-12 16:11] kvanhijf commented on #174
https://github.com/openvstorage/alba-asdmanager/pull/188 -->
https://github.com/openvstorage/framework-alba-plugin/pull/305 -->

[2016-12-13 09:23] domsj commented on #270
@kvanhijf alba 1.3.0 will contain support for the new encryption mode. (if an 1.2.5 were to be released it would be an 1.2.4 plus some extra bugfixes)

regarding preset validation: https://github.com/openvstorage/alba/blob/c6859320fd93597f132c01390dca244746b03004/ocaml/src/preset.ml#L116-L133 that's what alba does

[2016-12-14 08:29] openvstorage-ci opened #306 "ALBA_LWT_ENGINE not set for command line alba calls"
_From @toolslive on December 13, 2016 10:31_

so alba reverts to the default, which is `rselect`. This sometimes hangs, as we observed with `asd-multistatistics` on a rather largish environment (200+ ads)

_Copied from original issue: openvstorage/framework#1264_

[2016-12-14 09:15] openvstorage-ci commented on #306
This issue was moved to openvstorage/alba#499

[2016-12-14 09:15] #306 closed

[2016-12-14 09:49] kvanhijf commented on #174
@QA: ALBA Disks which have been physically pulled out, can now be deleted

[2016-12-15 14:10] khenderick commented on #216
@wimpers (BAM), I want to re-raise this ticket.

Recently, the API for creating presets was changed so it enforces the same constraints as the GUI: ```[a-zA-Z0-9]{3,20}```. Before this change, the API allowed everything.

@domsj made the correct remark that this could lead to issues on customer integrations, as they might already pass in other characters (spaces, dashes, special characters, ...).

[2016-12-15 15:04] wimpers commented on #216
a-Z0-9 and - and _ (where - and _ can't be the first character)

[2016-12-15 15:21] wimpers commented on #216
@grimpy please check from your side if your code would violate this restriction.

[2016-12-15 15:26] grimpy commented on #216
No problem for us currently we create then manually

[2016-12-15 15:34] kvanhijf commented on #216
https://github.com/openvstorage/framework/pull/1275 --> openvstorage-2.7.8-rev.4446.8fa48b9
https://github.com/openvstorage/alba-asdmanager/pull/194 --> openvstorage-sdm-1.6.8-rev.502.8028537
https://github.com/openvstorage/framework-alba-plugin/pull/308 --> openvstorage-backend-1.7.8-rev.883.5dc430d

[2016-12-15 15:35] kvanhijf commented on #216
As @wimpers suggested, presets created through GUI and API must now comply to the following rule:
a-zA-Z0-9 and - and _ (where - and _ can't be the first character)

[2016-12-20 09:29] wimpers opened #312 "Integrate alba/issues/516"
Integrate https://github.com/openvstorage/alba/issues/516 in the framework
* Make sure the restriction (k <= c) is removed in the API

Keep the restriction in the GUI

[2016-12-20 09:31] khenderick commented on #312
To be clear on this: it means that we allow customers to create presets with policies that will acknowledge the write even though not all required data is written. This means a power failure might lead to data-loss when it is not expected. Is this what we want, @wimpers?

[2016-12-20 09:33] wimpers commented on #312
Yes,  a customer absolutely wants this.

[2016-12-20 09:36] wimpers commented on #312
Customer is aware of the possible dataloss.

[2016-12-20 09:47] wimpers commented on #312
After discussion with stakeholders. Only remove the restriction in the API. GUI can keep the  restriction for safety.

[2016-12-20 16:23] khenderick opened #313 "Backwards incompatibility for abm/nsm config location"
Backwards incompatibility for abm/nsm config location

[2016-12-21 10:02] JeffreyDevloo commented on #201
Closing.
Should be reopened if we ever face this issue again.

[2016-12-21 10:02] #201 closed

[2016-12-21 10:53] wimpers opened #315 "Failed removing disk /dev/sdb: 'NoneType' object has no attribute 'partitions'"
Initialized  an SSD  with 2 ASD and a bit later removed it. Didn't claim the ASDs.

Resulting error:
Failed removing disk /dev/sdb: 'NoneType' object has no attribute 'partitions'

[2016-12-21 11:04] kvanhijf commented on #210
https://github.com/openvstorage/framework/pull/1287 -->openvstorage-2.7.9-rev.4463.0761b63
https://github.com/openvstorage/alba-asdmanager/pull/198 --> openvstorage-sdm-1.6.9-rev.508.9903a29
https://github.com/openvstorage/framework-alba-plugin/pull/314 --> openvstorage-backend-1.7.9-rev.889.63f8d79

@QA:
Backend status will appear as 'Failure' (red circle) in following cases:
* No maintenance age

[2016-12-21 12:59] #185 closed

[2016-12-21 13:13] JeffreyDevloo commented on #288
### Information
Tested by expecting a RuntimeError due to the exit codes:
https://github.com/openvstorage/openvstorage-health-check/pull/214/files
Every alba cli call used by the framework supports --to-json but other calls don't resulting in an error. This is not an issue with the code itself but Alba should add this option.

[2016-12-21 13:13] #288 closed

[2016-12-21 13:29] JeffreyDevloo commented on #188
### Information
We have not encountered this sort of error anymore on our automated testing environments.

[2016-12-21 13:29] #188 closed

[2016-12-21 14:46] JeffreyDevloo commented on #174
### Steps
- Setup lastest cluster
- Confiugred latest cluster
- Removed disk from environment

### Output
[code]

### Test result
Test passed.

### Packages
[code]

[2016-12-21 14:46] #174 closed

[2016-12-22 09:18] kvanhijf commented on #313
https://github.com/openvstorage/framework/pull/1292 --> openvstorage-2.7.8-fargo.2
https://github.com/openvstorage/framework/pull/1293 --> openvstorage-2.7.9-rev.4463.0761b63
https://github.com/openvstorage/framework-alba-plugin/pull/316 --> openvstorage-backend-1.7.8-fargo.2
https://github.com/openvstorage/framework-alba-plugin/pull/317 --> openvstorage-backend-1.7.9-rev.892.1c0e688

No issue cou

[2016-12-22 11:44] openvstorage-ci opened #321 "When using external arakoons custom abm/nsm service names can no longer be found after update"
_From @pploegaert on December 22, 2016 9:56_

Cause is this change:
https://github.com/openvstorage/framework-alba-plugin/commit/ece00090d3b7be2fe5c63cab2e3577ca1c09eaef
line 139

OVH env was setup with these parameters:
https://github.com/openvstorage/setups/blob/master/openvstorage/production/ovh/files/setup_global.json

When using external arakoons we cannot safely assume what the arakoon confi

[2016-12-22 11:51] khenderick commented on #321
The issue is that there are quite some assumptions made wrt cluster name, arakoon config location and backend name. We should not make any assumptions, but store e.g. the arakoon config location on a property in the model.

Todo:
* The relation between ABMService and Service is now one-to-one. It should be one-to-many, where the ABMService object represents an ABM cluster (not an ABM cluster node)

[2016-12-22 12:42] openvstorage-ci opened #322 "More file descriptors for alba arakoons(abm + nsm)"
_From @saelbrec on December 22, 2016 12:18_

Since we implemented https://github.com/openvstorage/framework/issues/1274 there are way more client connections going into the abm and nsm clusters which leads to the necessity to configure higher number of allowed filedescriptors.
2 vpools over 5 nodes with each 8 proxies for example will open 800 client connections into the abm arakoon. Lets set the

[2016-12-22 12:42] openvstorage-ci commented on #322
_From @khenderick on December 22, 2016 12:19_

Let's not forget the migration code.

[2016-12-22 16:59] kvanhijf commented on #322
https://github.com/openvstorage/framework/pull/1297 -->
https://github.com/openvstorage/framework-alba-plugin/pull/323 -->

@QA:
For fresh installation you can directly verify whether the arakoon processes have the correct setting
[code]
This should print 8192 for all arakoons (not only the ALBA arakoons)

For updated scenario:
2 updates are required, since the update is missing specific knowledge

[2016-12-23 08:47] khenderick opened #324 "Multiple proxies share fragment cache directory"
We seem to have missed the issue that at this moment, all proxies share the same fragment cache directory and the size. This means that proxies will mess up each others cache and the size can grow beyond expected values.

[2016-12-23 15:35] openvstorage-ci commented on #275
This issue was moved to openvstorage/framework#1300

[2016-12-23 15:35] #275 closed

[2017-01-03 13:35] openvstorage-ci commented on #324
This issue was moved to openvstorage/framework#1308

[2017-01-03 13:35] #324 closed

[2017-01-06 09:21] JeffreyDevloo opened #326 "Sorting issue on backend page with solely asd-managers and storagerouters"
### Problem description

![gifrecord_2017-01-06_101504](https://cloud.githubusercontent.com/assets/17570109/21713357/e520d262-d3f9-11e6-8e71-a17af001dee7.gif)

[2017-01-06 15:41] khenderick commented on #326
Fixed in #327
Dev package: openvstorage-backend-1.7.9-dev.1483716781.891547f

[2017-01-10 09:14] khenderick commented on #326
openvstorage-backend-1.7.9.1

[2017-01-10 17:02] wimpers commented on #217
Closed by PM.

[2017-01-10 17:02] #217 closed

[2017-01-10 17:02] wimpers commented on #192
Closed by PM.

[2017-01-10 17:02] #192 closed

[2017-01-10 17:02] wimpers commented on #189
Closed by PM.

[2017-01-10 17:02] #189 closed

[2017-01-10 17:03] wimpers commented on #171
Closed by PM.

[2017-01-10 17:03] #171 closed

[2017-01-11 10:18] #280 closed

[2017-01-13 14:52] wimpers commented on #315
Workaround, claim the ads and next you can remove it.

[2017-01-13 15:40] wimpers commented on #182
@khenderick can we make sure that both statuses are inline.

[2017-01-16 10:44] wimpers commented on #312
After discussion with stakeholders: don't remove the restriction at all.

[2017-01-16 19:46] #312 closed

[2017-01-16 19:46] khenderick commented on #312
Closed as it doesn't make sense to validate something that didn't change.

[2017-01-17 13:02] kvanhijf commented on #182
Was fixed by https://github.com/openvstorage/framework-alba-plugin/issues/210

[2017-01-17 15:35] pploegaert commented on #154
It's quite easily reproducible ... and the error is shown as reported above ...
It doesn't break anything at first sight ... but I'd fix this ...
- it doesn't give a good impression when setting up a backend already raises an error
- every customer running into this will contact support -> ticket -> engineering ... So we should avoid this ticket roundtrip anyway.

[2017-01-18 09:08] wimpers commented on #284
The arakoon cluster itself should not be setup by OVS. This ticket is about the claiming of that cluster for a certain backend.

[2017-01-18 13:39] wimpers commented on #315
please reproduce and if possible add to RC3

[2017-01-18 15:25] wimpers commented on #282
The same holds fro removing nodes see https://github.com/openvstorage/framework/issues/1349

[2017-01-19 09:51] kinvaris opened #335 "Backend with no storage nodes is in failure"
We've observed an issue on our development environment:
- The setup is hyperscale
- We have no storagenodes
- We've created a backend
- Our backend was in failure

![](http://i.imgur.com/Dtg3uGt.png)

[2017-01-19 09:52] khenderick commented on #335
Should be warning, not failure

[2017-01-19 10:30] khenderick commented on #335
Fixed by #337, packaged on dev in openvstorage-backend-1.7.10-dev.1484821309.0e04b12

[2017-01-19 13:34] kvanhijf commented on #284
https://github.com/openvstorage/framework/pull/1359 -->
https://github.com/openvstorage/alba-asdmanager/pull/208 -->
https://github.com/openvstorage/framework-alba-plugin/pull/338 -->

[2017-01-19 15:09] saelbrec commented on #274
We want systemd to restart the processes when it exits with unclean exit code, which is covered by 'on-failure'.
If one wants to cleanly restart them, systemctl commands should be used.
Let's keep the current settings.

[2017-01-19 15:09] #274 closed

[2017-01-19 15:34] kvanhijf commented on #284
@openvstorage/qa :

[2017-01-20 10:00] kvanhijf commented on #335
@openvstorage/qa : openvstorage-backend-1.7.10.1

[2017-01-20 10:00] kvanhijf commented on #284
@openvstorage/qa : openvstorage-backend-1.7.10.1

[2017-01-20 10:47] kvanhijf commented on #315
@wimpers , @pploegaert : I couldn't reproduce this issue just now
Tried reproducing using an SSD and a HDD with 1 or more unclaimed ASDs
Also tried reproducing starting from an SSD without filesystem and with filesystem, but all to no avail

Guess this can be closed due to lack of evidence?

[2017-01-20 16:12] #315 closed

[2017-01-23 08:59] kvanhijf commented on #154
This issue cannot be resolved properly until https://github.com/openvstorage/alba/issues/585 has been fixed

[2017-01-23 14:01] khenderick opened #344 "Investigate possible slower backend pages"
Investigate possible slower:
* backend overview
* backend detail page

[2017-01-23 14:42] JeffreyDevloo commented on #216
### Steps
- Setup cluster
- Tested preset names

#### API code
[code]
### Output
[code]

### Test result
Test passed.

[2017-01-23 14:42] #216 closed

[2017-01-23 15:00] JeffreyDevloo commented on #182
Closing because of the referenced ticket is the real culprit.

[2017-01-23 15:00] #182 closed

[2017-01-23 15:20] JeffreyDevloo commented on #326
### Steps
- Updated the environment
- Did not see the issue anymore

### Test result
Test passed.

[2017-01-23 15:21] #326 closed

[2017-01-23 15:38] khenderick commented on #344
The recently added `live_status` field which basically generates a status based on backend installation state, disk state, maintenance service states, ... is relatively slow (250-400ms) because it needs to get all maintenance services for every node to count whether there are enough maintenance services for that particular backend. This 250-400ms ish number adds up if there are quite some backends

[2017-01-24 08:25] openvstorage-ci opened #345 "Linking local backend to global backend results in Albamgr_protocol.Protocol.Error.Osd_already_exists"
_From @kinvaris on January 19, 2017 11:4_

We performed the following steps to reproduce the error: `Albamgr_protocol.Protocol.Error.Osd_already_exists`
- Add a global backend
- Add a local backend (with a `NoSatisfiablePolicy`)
- Link the local backend to the global backend
- It will fail with the following error: `Client_exception: Alba_client_errors.Error.NoSatisfiablePolicy`
- Make the policy

[2017-01-24 08:25] openvstorage-ci commented on #345
_From @domsj on January 23, 2017 17:6_

I think this is a framework-alba-plugin bug. Can the issue be moved?
The framework code should handle the returned Osd_already_exists error and just continue with trying the claim-osd call.
@khenderick let me know if you disagree or not

[2017-01-24 08:25] openvstorage-ci commented on #345
_From @khenderick on January 23, 2017 17:15_

I'm not sure at this point @domsj; as the `add-osd` fails with the `NoSatisfiablePolicy` error, I'm not sure whether it was added or not since an error is thrown, I'd expect it to be not added at all. Otherwise, a warning might be more appropriate. So on the next try, I would expect I have to try it again.

I do agree that catching the failed `add-osd`

[2017-01-24 08:25] openvstorage-ci commented on #345
_From @khenderick on January 24, 2017 8:22_

After some more discussions with @domsj, it turns out that I was kinda completely wrong :cold_sweat:. So the `add-osd` succeeds, but the `claim-osd` fails. And we always execute the `add-osd`, even if it was already added. Do'h.

Let's fire up the ticket mover, 'cause this one doesn't belong here.

[2017-01-24 10:22] khenderick commented on #345
Fixed by #346, packaged in dev openvstorage-backend-1.7.11-dev.1485252784.2eb60fd

[2017-01-24 13:09] khenderick commented on #344
I think the only reasonable solution in making such pages faster again is (re)introducing progressive loading of data. There is simply too much (slower) data to be loaded in a single query. Imo it makes more sense to divide all data to be shown into sections based on their expected load time, and execute a query foreach section.

[2017-01-24 16:47] wimpers commented on #344
I would add progressive loading for the backend status on the overview page only.

[2017-01-25 16:33] kvanhijf commented on #321
Cases covered:
* deploy single node backend
* deploy multi node backend
* remove single node backend
* remove multi node backend
* extend NSM cluster amount
* demote node
* deploy single node backend with external clusters
* deploy multi node backend with external clusters
* remove single node backend with external clusters
* remove multi node backend with external clusters
* extend NSM cluster am

[2017-01-30 10:53] kvanhijf commented on #321
https://github.com/openvstorage/framework/pull/1378 --> openvstorage-2.7.11-dev.1485772876.e70dea1
https://github.com/openvstorage/alba-asdmanager/pull/214 --> openvstorage-sdm-1.6.11-dev.1485773034.9c13ccb
https://github.com/openvstorage/framework-alba-plugin/pull/347 --> openvstorage-backend-1.7.11-dev.1485772953.71c17b3

[2017-01-30 10:55] kvanhijf commented on #321
@openvstorage/qa :
ABMService now linked to ABMCluster io AlbaBackend
NSMService now linked to NSMCluster io AlbaBackend
NSMService no longer has number / capacity properties, these have been moved to the NSMCluster object

AlbaController.get_abm_service_name removed
AlbaController.get_abm_cluster_name removed
AlbaController.get_nsm_service_name removed
AlbaController.get_nsm_cluster_name removed

[2017-01-30 14:55] kvanhijf commented on #154
https://github.com/openvstorage/framework-alba-plugin/pull/348 --> openvstorage-backend-1.7.11-dev.1485787434.11a2072

[2017-01-31 14:10] khenderick commented on #344
Fixed by https://github.com/openvstorage/framework/pull/1388 and #349, packaged on dev in openvstorage-2.7.11-dev.1485871045.c621478 and openvstorage-backend-1.7.11-dev.1485871129.dd74d13

[2017-01-31 16:30] openvstorage-ci opened #350 "GUI - backends - asd nodes: display disksize of available disks"
_From @dejonghb on November 2, 2016 8:59_

In an environment with a mix of different disks, it would be nice to get a clue how big the disks are to decide how many asd's to put on them.
At present you have to login to the nodes and check manually for this information.

_Copied from original issue: openvstorage/framework#1112_

[2017-01-31 16:30] openvstorage-ci commented on #350
_From @wimpers on November 2, 2016 9:9_

I'm a bit curious, why would you put more asds on a bigger disk? I assumed you only put more asds on a disk to improve the IOPS the disk can give (1 asd = 140k iops max).

[2017-01-31 16:30] openvstorage-ci commented on #350
_From @dejonghb on November 2, 2016 9:24_

If you have 800GB disks next to 100GB ones, there might also be a difference in the IOPS such a disk can do or maybe you'd want to create equal size ASDs?
Also for excluding the smaller disks so that they can be used for other purposes (whatever these are) having the information visible could be a plus.

[2017-01-31 16:30] openvstorage-ci commented on #350
_From @wimpers on November 2, 2016 9:29_

Why would you want to create equal size ASDs? ALBA autobalances data between the disks so they are automagically filled equally to the same %.

Do note that adding the size of the disk to the popup of the disk is a good idea.

[2017-01-31 16:30] openvstorage-ci commented on #350
_From @dejonghb on November 2, 2016 9:36_

ALBA autobalances data between the disks so they are automagically filled equally to the same %. --> small disks will be used less so these IOPS are less used? Yes, once these disk are full they cannot be used any more either but untill then and for some benchmarking setups that don't fill up everything it might be a plus?

[2017-01-31 16:30] openvstorage-ci commented on #350
_From @wimpers on November 7, 2016 13:58_

@khenderick any idea how much work this would be?

[2017-01-31 16:30] openvstorage-ci commented on #350
_From @khenderick on November 7, 2016 14:13_

@wimpers, 1 day

[2017-01-31 16:33] kvanhijf commented on #350
https://github.com/openvstorage/alba-asdmanager/pull/216
https://github.com/openvstorage/framework-alba-plugin/pull/351

[2017-02-06 09:40] khenderick commented on #154
openvstorage-backend-1.7.11.1

[2017-02-06 09:40] khenderick commented on #321
openvstorage-backend-1.7.11.1

[2017-02-06 09:43] khenderick commented on #344
openvstorage-backend-1.7.11.1

[2017-02-06 09:44] khenderick commented on #345
openvstorage-backend-1.7.11.1

[2017-02-06 09:44] khenderick commented on #350
openvstorage-backend-1.7.11.1

[2017-02-10 16:15] khenderick commented on #281
#363 -> openvstorage-backend-1.7.12-dev.1486742690.eb0a281

[2017-02-14 08:47] khenderick commented on #281
openvstorage-backend-1.7.12.1

[2017-02-14 13:18] jeroenmaelbrancke opened #369 "enable systemctl reload albaproxy (service)"
If we need to reload the albaproxy config file we need to use the kill command with flag -SIGUSR1.

To simplify this we can use the build-in reload option from systemctl (EXECRELOAD) defined in [Service].

Maybe other services could use this also or is this not supported by the framework?

[code]

For example:
[code]

[2017-02-15 15:43] kvanhijf commented on #178
@openvstorage/qa :
The ALBA Backend creation now allows to specify an ABM cluster and NSM clusters
Either None are provided (than the framework chooses) or both are provided
Example of calling the API:
[code]

https://github.com/openvstorage/framework/pull/1453 -->
https://github.com/openvstorage/framework-alba-plugin/pull/371 -->

[2017-02-20 15:24] pploegaert commented on #210
VALIDATED OK:

root@ub1604:~# ovs setup demote
++++++++++++++++++++++++++++++++++++++
+++  Open vStorage Setup - Demote  +++
++++++++++++++++++++++++++++++++++++++

+++ Collecting information +++

++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++  An unexpected error occurred:                 +++
+++  It is not possible to remove the only master  +++
++++++++++++++++++++++++++++++++++++++

[2017-02-20 15:24] #210 closed

[2017-02-20 15:59] pploegaert commented on #322
VALIDATED OK on Fargo RC4:
root@e187-1:~# for pid in `ps -ef | grep "arakoon --node" | grep -v grep | awk '{print $2}'`; do echo `cat /proc/$pid/limits | grep "Max open files"`; done
Max open files 8192 8192 files
Max open files 8192 8192 files
Max open files 8192 8192 files
Max open files 8192 8192 files
Max open files 8192 8192 files
root@e187-1:~# for pid in `ps -ef | grep "arakoon --node" | gr

[2017-02-20 15:59] #322 closed

[2017-02-21 10:02] pploegaert commented on #270
AT to be created: https://github.com/openvstorage/integrationtests/issues/434

[2017-02-21 13:41] pploegaert commented on #292
Validation in:
https://github.com/openvstorage/integrationtests/issues/436

[2017-02-21 13:41] #292 closed

[2017-02-22 06:11] #313 closed

[2017-02-22 09:35] JeffreyDevloo commented on #270
Opening as it has not been validated yet.

[2017-02-24 15:02] khenderick opened #376 "Removal of offline asd-manager did not purge removed asds"
Removal of offline asd-manager did not purge removed asds

[2017-02-24 15:03] khenderick commented on #376
#375 -> openvstorage-backend-1.7.13-dev.1487947942.20196aa

[2017-02-24 15:05] openvstorage-ci opened #377 "Removing a storage node with disks/asds in error should clean up everything"
_From @pploegaert on December 20, 2016 9:13_

Noticed on OVH when several storage nodes were taken offline
The recycle bin icon on the right should not be enabled in this case according to @khenderick
As we will now simply remove the node from the model, while we should in fact remove all asds/disks first.

![screen shot 2016-12-19 at 09 35 06](https://cloud.githubusercontent.com/assets/8393135/21

[2017-02-24 15:05] openvstorage-ci commented on #377
_From @khenderick on January 9, 2017 15:43_

openvstorage-2.7.9.1

[2017-02-24 15:05] openvstorage-ci commented on #377
_From @pploegaert on February 22, 2017 6:51_

@khenderick: I tried validating this on 10.100.187.32 (3 node setup of which node 1 was powered off)
But I still see the recycle bin enabled:
https://10.100.187.32/#full/ovs-backend/053b67c7-e539-41d5-9f16-373a00047ae6

Which code change would have fixed this?

[2017-02-24 15:05] openvstorage-ci commented on #377
_From @khenderick on February 22, 2017 7:3_

I think that one has been closed by mistake as there's indeed no PR, nor a dev package. Sorry.

[2017-02-24 15:05] openvstorage-ci commented on #377
_From @pploegaert on February 22, 2017 7:31_

Np, env link above is available for non-destructive investigation ;) ... note node1 is kept offline, so only 2 out of 3 nodes are running.

[2017-02-24 15:05] openvstorage-ci commented on #377
_From @khenderick on February 24, 2017 14:48_

To fix this issue correctly we need to keep state on the side of the asd-manager. We're making too much educated guesses at this moment, and it's hitting the limit.

[2017-02-27 09:51] #335 closed

[2017-02-27 12:46] pploegaert commented on #284
https://github.com/openvstorage/integrationtests/issues/444

[2017-02-28 07:40] pploegaert commented on #281
VALIDATION OK

[2017-02-28 07:40] #281 closed

[2017-02-28 09:03] pploegaert commented on #321
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/444

[2017-02-28 12:17] #154 closed

[2017-02-28 12:36] pploegaert commented on #344
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/452

[2017-02-28 13:08] pploegaert commented on #345
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/455

[2017-03-01 08:47] khenderick opened #378 "Manually add asds iso relying on multicasts"
Due to possible network related issues with multicasts, it would be interesting to add asds manually so alba doesn't have to discover them first. This will also remove our dependency on the maintenance processes for discovery etc.

@domsj, do you see any changes required for Alba?

[2017-03-01 08:49] khenderick commented on #378
@domsj, another question; can we somehow ask an ASD whether it's claimed by any backend, and if so by which one? Without relying on these multicast messages.

[2017-03-01 08:51] khenderick commented on #378
Related to openvstorage/alba#582

[2017-03-01 14:44] openvstorage-ci commented on #369
This issue was moved to openvstorage/framework#1491

[2017-03-01 14:44] #369 closed

[2017-03-01 16:34] domsj commented on #378
@khenderick I think everything is there from the alba side to be able to add asds to the albamgr, use `alba add-osd (--help)`.

For discovering if it's already claimed by a backend ... we could add an extra command for that.

(Or you could add the asd to the albamgr using add-osd, and then do a list-osds afterwards, that should also give you this info... but then you might be needlessly polluting

[2017-03-01 18:05] khenderick commented on #378
@domsj, if it isn't much work, I'd rather have a command that connects directly to the ASD to see whether it has been claimed by a backend. Just trying to add it to a backend as a "test" seems kinda dirty. Would this be a lot of work for you?

[2017-03-02 08:53] domsj commented on #378
It's not a lot of work. Maybe a couple of hours. I've created a ticket on the alba repo.
When would you like this?

[2017-03-02 08:55] khenderick commented on #378
I'd like to have this by the time I need to solve this ticket. @wimpers, @saelbrec, any idea when this ticket needs to be solved?

[2017-03-02 08:58] wimpers commented on #378
@domsj will pick it up by end of the week between soup and potatos

[2017-03-02 16:37] saelbrec opened #379 "Ability to configure which nodes should run the alba maintenance daemons"
At present it's configurable how many alba maintenance daemons need to be deployed.
But in more complex setups where not all ASD Nodes can network-wise reach all others it is necessary to have control over where we want to run the alba maintenance daemon.

We could use 'ASD NodeID'?
Even if the node doesn't run any ASD for the specified backend it should still be possible to run a maintenance daem

[2017-03-06 12:22] khenderick commented on #379
#380 -> openvstorage-backend-1.7.13-dev.1488802067.fff4e9f

[2017-03-06 12:27] khenderick commented on #379
To override automatic selection of maintenance nodes, configure the key `/ovs/alba/backends/{alba backend guid}/maintenance/agents_layout` to contain a JSON list of all `node_id`s that should have a maintenance agents running. As soon as they key is present, it will start using it unless the contents are either invalid, or the list does not contain any valid `node_id`.

[2017-03-09 12:56] wimpers commented on #200
@khenderick is this ticket still relevant now that we have https://github.com/openvstorage/framework-alba-plugin/issues/379 .

[2017-03-09 13:09] khenderick commented on #200
@wimpers, it is still relevant and is not changed by #379

[2017-03-10 10:13] kvanhijf commented on #377
@khenderick : What needs to be done by the framework in order to be able to fix this?

[2017-03-10 10:24] kvanhijf commented on #378
@domsj : Please provide framework team with input once implemented

[2017-03-10 10:25] khenderick commented on #379
openvstorage-backend-1.7.13.1

[2017-03-10 10:25] khenderick commented on #376
openvstorage-backend-1.7.13.1

[2017-03-10 10:25] khenderick commented on #178
openvstorage-backend-1.7.13.1
openvstorage-2.7.13.1

[2017-03-13 09:44] khenderick commented on #377
* We need some kind of DB on the node. This could be either something like sqlite (and we write a wrapper to perform basic queries), or leveldb (we can pull the DAL out of the framework, make it a standalone library and use it in both framework and alba-asdmanager).
 * Sqlite might be the fastest option here
* Make an update that models everything in the above
* Fix the issue itself, using the mod

[2017-03-13 12:16] khenderick commented on #378
Available in alba 1.3.7

[2017-03-13 12:36] khenderick commented on #378
* Requirement: https://github.com/openvstorage/alba-asdmanager/issues/231

[2017-03-24 08:32] domsj commented on #378
Once you go down this path, also do this:
- disable sending multicast messages from the asds, see https://github.com/openvstorage/alba/pull/677/files#diff-d1c9a376c7ab6525cade8967a0d5982aR31
- tell maintenance to not listen for multicast messages, see https://github.com/openvstorage/alba/pull/677/files#diff-f488e8533660f9152198015c671a715cR20

[2017-04-05 07:07] openvstorage-ci opened #394 "Creating backends concurrently sometimes fails"
_From @hoanhdo on March 21, 2017 2:0_

Hi all.
I install openvstorage on ubuntu 16.04.01 LTS  wtih kernel :

ii openvstorage-backend 1.7.10.1-1 amd64 openvStorage Backend plugin
ii openvstorage-backend-core 1.7.10.1-1 amd64 openvStorage Backend plugin core
ii openvstorage-backend-webapps 1.7.10.1-1 amd64 openvStorage Backend plugin Web Applications
ii openvstorage-core 2.7.10.1-1 amd64 openvStorag

[2017-04-05 07:38] kvanhijf commented on #394
https://github.com/openvstorage/framework-alba-plugin/pull/395 --> openvstorage-backend-1.8.2-dev.1491376858.87784a9

[2017-04-06 11:39] domsj opened #396 "backend type selection (global vs local) in backends panel of overview page forgets 'local backends' selection on automatic refresh"
So after about 5 seconds you'll be looking at the global backends again iso the locals that you wanted to see.

[2017-04-24 07:06] kvanhijf commented on #282
openvstorage-2.8.2-dev.1493016604.db35478
openvstorage-backend-1.8.2-dev.1493016700.8a81996

[2017-04-24 14:57] openvstorage-ci opened #401 "Removing a non-available ASD failed"
_From @matthiasdeblock on April 19, 2017 15:52_

While removing a disk on OVH environment I received the following error message:
[code]

On both NVME nodes I've ran the nvmebackend maintenancer to initialize the disk but while running the nvmebackend maintenancer, the disk couldn't get removed (see the above error).

After some research it looked like all the maintenancers had to be started befor

[2017-04-24 14:57] openvstorage-ci commented on #401
_From @kvanhijf on April 20, 2017 7:12_

Question is actually, do we need to block on this?  Can we assume the disk can safely be removed even though not all disks are marked as 'available'?

[2017-04-24 14:57] openvstorage-ci commented on #401
_From @khenderick on April 20, 2017 12:4_

This is a safeguard against deleting ASDs that might belong to another backend, so I'd rather keep that in place. And at this point, we query alba for information about that ASD, so we can see whether it's available or not. We can always remove safety checks, but it will obviously less safe then.

@wimpers, @saelbrec, can you make a decision here?

[2017-04-24 14:57] openvstorage-ci commented on #401
_From @khenderick on April 20, 2017 12:5_

Removing the `type_bug` label as it's not a bug but a designed safety feature.

[2017-04-24 14:57] openvstorage-ci commented on #401
_From @domsj on April 20, 2017 12:19_

I don't see how assuming the asd might belong to another backend when that backend explicitly tells you it doesn't know about this particular asd adds any safety?

[2017-04-24 14:57] openvstorage-ci commented on #401
_From @khenderick on April 20, 2017 12:21_

If we notice there are ASDs on a disk, and we can't figure out whether they belong to some backend, we don't want to wipe that disk.

[2017-04-24 14:57] openvstorage-ci commented on #401
_From @khenderick on April 20, 2017 12:27_

Let's keep this as a `type_enhancement`. Since alba 1.3.7 we can ask the ASD directly. Then we don't rely on the maintenance processes for this safety feature.

[2017-04-25 15:49] kvanhijf commented on #401
@openvstorage/qa : Reponsibility for checking whether a disk can be removed has been moved from maintenance agents to ALBA output directly (alba get-osd-claimed-by --help)

https://github.com/openvstorage/alba-asdmanager/pull/246 --> openvstorage-sdm-1.9.0-dev.1493134434.782761f
https://github.com/openvstorage/framework-alba-plugin/pull/402 --> openvstorage-backend-1.9.0-dev.1493134221.828db9d

[2017-04-26 08:35] kvanhijf opened #403 "ALBA Backend local_stack property should no longer make use of 'list-all-osds'"
To calculate the 'local_stack' dynamic property for an ABLA Backend, we make use of the 'list-all-osds' call provided by ALBA binary. Some of this information retrieved can still be used, but the info regarding the ALBA Backend each osd is linked to, should be replaced by the 'get-osd-claimed-by' functionality. This functionality has become part of our ASD DAL (asd.alba_info)

Implementing this wo

[2017-04-26 12:16] kvanhijf commented on #396
https://github.com/openvstorage/framework-alba-plugin/pull/404

[2017-04-28 15:09] JeffreyDevloo commented on #344
We should manufacture an overall data traffic tester with response times.
However we are currently tackling on testing bigger features so I'm closing it down (for now)

[2017-04-28 15:09] #344 closed

[2017-05-02 09:58] wimpers commented on #377
@khenderick did we have a look at this issue while doing https://github.com/openvstorage/alba-asdmanager/issues/231 ?  Is this fixed or can I move it back to BAM as there are no real open questions left I assume?

[2017-05-02 10:02] khenderick commented on #377
@wimpers, openvstorage/alba-asdmanager#231 is already implemented for some time and it was a prerequisite for this ticket. So this ticket is not yet taken up so it's most likely still an open issue.

[2017-05-15 12:53] JeffreyDevloo commented on #350
Feeling a bit like https://s-media-cache-ak0.pinimg.com/originals/91/e1/4d/91e14da5932134a903a3f5502e2d17f2.jpg for tickets like these but hey, I joined the club!

Beautiful if I dare say so myself:
![selection_140](https://cloud.githubusercontent.com/assets/17570109/26058445/34422aa0-397e-11e7-8e26-1a6f7ecbaa08.png)
![selection_141](https://cloud.githubusercontent.com/assets/17570109/26058447/356

[2017-05-15 12:53] #350 closed

[2017-05-19 08:24] wimpers commented on #350
You still have a lot to learn young master, but the force in you is strong.

[2017-05-30 13:04] JeffreyDevloo opened #410 "Removal of a linked local backend to a global backend makes the backend(s) page unable to fully load"
### Problem description
Removal of a local backend which has been linked to a global backend, makes both the global backend page as the backends page unable to fully load

Backends page:
[code]
Global backend page:
[code]

### Steps that I undertook
- Create two local backends
- Claimed those asds
- Linked both to a global backend
- Removed asds on one local local backend
- Saw the issue
- Removed

[2017-05-30 13:05] khenderick commented on #410
Can you add the logs of the internal server error?

[2017-05-30 13:24] JeffreyDevloo commented on #410
The error is related to the live_status query.
Getting the variable myself gives off:
[code]

[2017-05-30 13:25] wimpers commented on #378
Since https://github.com/openvstorage/alba-asdmanager/issues/231 has landed, we can pick up this one.

[2017-05-30 15:52] khenderick commented on #282
Packaged in 1.9.0

[2017-06-07 12:30] wimpers commented on #378
I assume this means
- re-introducing the ADD button on the ALBA backend page which asks for IP, Login, Passwd, chassis type
- looping over the different disks and adding the detected OSDs to the DB
- allowing to claim the disks (initialize isn't required?)
- decommission an OSD

[2017-06-07 12:39] khenderick commented on #378
No, this ticket is about manually adding an ASD and is not related to anything related to storage nodes.

[2017-06-07 13:01] wimpers opened #414 "Add storage nodes through GUI"
This ticket is a continuation of https://github.com/openvstorage/framework-alba-plugin/issues/378 and is to allow to add storage nodes through GUI:

- re-introducing the ADD button on the ALBA backend page which asks for IP, Login, Passwd, chassis type
- looping over the different disks and adding the detected OSDs to the DB
- allowing to claim the disks (initialize isn't required?)
- decommission

[2017-06-07 13:15] wimpers opened #415 "Revive the Kinetic support"
Reviving the Kinetic protocol support for the framework alba plugin so Kinetic drives can be used like regular drives.

Required for this ticket are
- https://github.com/openvstorage/framework-alba-plugin/issues/378
- https://github.com/openvstorage/framework-alba-plugin/issues/414

[2017-06-07 13:19] wimpers commented on #415
Please make sure we can extract the same data/info as from a normal ASD

[2017-06-09 14:25] wimpers commented on #378
Please make sure to add the node_id when adding the asd

[2017-06-14 07:55] khenderick commented on #410
With no decent logging there isn't much I can do to reproduce or investigate this. However, a small staring contest with the code did reveal a possible issue that would give the same stacktrace. I'll fix that one.

[2017-06-14 09:26] khenderick commented on #410
Fixed by #426, packaged in openvstorage-backend-1.9.2-dev.1497432293.ba4e853

[2017-06-27 14:27] khenderick commented on #415
First set of tasks, based on specs on 27/06.

* [ ] Add `AD` as type to `AlbaOSD`.
* [ ] A `GENERIC` type should also be added to `AlbaNode`, that's merely a container for individual OSDs .(limit to ADs only?). In the future, we can then also add extra types once more chassis need to be supported.
* [ ] An `AlbaNode` should load a different client based on its type. Preferably loaded through some

[2017-06-28 12:44] wimpers commented on #415
After discussion:

* [ ] Req - 4h - Add `AD` as type to `AlbaOSD`.
* [ ] Req - 1w - Fake ALBA disk relation
* [ ] Req - 1w - A `GENERIC` type should also be added to `AlbaNode`, that's merely a container for individual OSDs (limit to ADs only?). In the future, we can then also add extra types once more chassis need to be supported. An `AlbaNode` should load a different client based on its type. Pr

[2017-06-29 08:02] wimpers commented on #377
@khenderick can you estimate how much time this will take to fix? Is there a workaround for OPS?

[2017-07-03 07:19] JeffreyDevloo opened #429 "[Kinetic support] Add AD as type to AlbaOSD"

[2017-07-03 13:32] JeffreyDevloo commented on #429
Fixed by https://github.com/openvstorage/framework-alba-plugin/commit/bbf7e370e5db9ef300487a89cf00d1bfc44447b3

[2017-07-03 13:32] #429 closed

[2017-07-03 14:09] JeffreyDevloo opened #430 "[Kinetic support] Generic Albanode to support ADs"
### Feature description
A GENERIC type should also be added to AlbaNode, that's merely a container for individual OSDs (limit to ADs only?). In the future, we can then also add extra types once more chassis need to be supported. An AlbaNode should load a different client based on its type. Preferably loaded through some factory.

[2017-07-03 14:12] JeffreyDevloo opened #431 "[Kinetic support] Add Active Drive to type of OSD"
### Feature description
- [x] Map the Active Drive to the OSD
- [x] Enable adding Active Drive through API
- [x] Add a slot-like object for mapping on the GUI

[2017-07-05 13:55] khenderick commented on #415
Few dependencies:
* openvstorage/alba#749
* openvstorage/alba#748

[2017-07-07 13:13] kvanhijf commented on #415
All related PRs:

https://github.com/openvstorage/framework/pull/1702
https://github.com/openvstorage/iscsi-manager/pull/12
https://github.com/openvstorage/alba-asdmanager/pull/260
https://github.com/openvstorage/framework-extensions/pull/12
https://github.com/openvstorage/framework-alba-plugin/pull/432

[2017-07-11 14:29] JeffreyDevloo commented on #430
https://github.com/openvstorage/framework-alba-plugin/pull/432/commits/f70fdca3a1756cffefabbaebad740813ec351fb6

[2017-07-11 14:29] #430 closed

[2017-07-11 14:30] JeffreyDevloo commented on #431
https://github.com/openvstorage/framework-alba-plugin/pull/432/commits/4441e1d9a15a93a8ccc89febb9a6117fcc3c8ca0

[2017-07-11 14:30] #431 closed

[2017-07-11 14:31] JeffreyDevloo commented on #410
openvstorage-backend_1.9.2-1_amd64.deb

[2017-07-28 12:43] jtorreke opened #438 "JSON output of download-object is not returned using AlbaCLI"
For some mysterious reason, the JSON output of a download-object call returns an empty list.

The outputs from OVS shell:

In [70]: AlbaCLI.run('download-object', config=abmconfig, extra_params=[space['name'], o, downloadpath], to_json=True)
Out[70]: {}

In [71]: AlbaCLI.run('download-object', config=abmconfig, extra_params=[space['name'], o, downloadpath], to_json=False)
Out[71]: 'object tlog_3a7

[2017-07-28 12:46] kvanhijf commented on #438
@jtorreke Shouldn't this have been created in the Alba repository?
Since on CLI you're seeing the same empty result as you do when using the AlbaCLI, so i'm guessing the issue lies in the Alba code, not in our wrapper.

[2017-07-28 14:11] jtorreke commented on #438
I guess we can close this as a user error. Thanks for clarifying @kvanhijf and @domsj

[2017-07-28 14:11] #438 closed

[2017-08-02 07:49] domsj opened #439 "backend detail page is horribly slow"
See nuvolat env ny1 for an example.
Sometimes it fails to load, other times it takes more than a minute.

[2017-08-02 07:57] JeffreyDevloo commented on #439
Had to bump the call timeout back to 5 minutes instead of 30s to actually load after a while.
Saw that certain dynamics are having a hard time to get computed.

[2017-08-03 11:13] JeffreyDevloo commented on #439
Further looking into as it is quite important to have it fixed.
![selection_043](https://user-images.githubusercontent.com/17570109/28919371-7d52566c-784d-11e7-8785-d754c427d666.png)
Seems like local_stack and local_summary are currently causing some issues. Further looking into it.

[2017-08-07 08:23] JeffreyDevloo commented on #439
Calls towards the asd-manager took over 40s for certain asd-managers. Restarting the asd-manager has patched the issue for now.
Need to look into the reason why the response times were that high.

[2017-08-10 08:02] domsj commented on #270
This has been validated on the production environment!

[2017-08-10 08:02] #270 closed

[2017-08-10 08:06] #284 closed

[2017-08-10 08:09] #410 closed

[2017-08-10 08:09] #401 closed

[2017-08-10 08:10] #178 closed

[2017-08-10 08:10] #282 closed

[2017-08-10 08:10] #321 closed

[2017-08-10 08:10] #345 closed

[2017-08-10 08:10] #376 closed

[2017-08-10 08:10] #379 closed

[2017-08-10 08:10] #394 closed

[2017-08-10 08:10] #396 closed

[2017-08-14 13:09] JeffreyDevloo commented on #415
More related PRs:

https://github.com/openvstorage/framework-alba-plugin/pull/440
https://github.com/openvstorage/framework-alba-plugin/pull/441
https://github.com/openvstorage/framework-alba-plugin/pull/442
https://github.com/openvstorage/framework-alba-plugin/pull/443
https://github.com/openvstorage/framework-extensions/pull/18
https://github.com/openvstorage/framework-extensions/pull/19
https:/

[2017-08-14 13:11] JeffreyDevloo commented on #378
Fixed by: https://github.com/openvstorage/alba-asdmanager/pull/260
Packaged in: 2.10.0-dev.1502714381.9319ff7-1

[2017-08-16 10:02] JeffreyDevloo commented on #439
I have the feeling the swapiness nature of the vms hosting the asd-manager has something to do with it.

[2017-08-21 09:36] JeffreyDevloo commented on #439
More an issue for here: https://github.com/openvstorage/alba-asdmanager/issues/272

[2017-08-21 09:36] #439 closed

[2017-08-24 13:36] domsj opened #452 "Maintenance read preference for global backends is not correct"
As discussed with @kvanhijf, the read preference should have node_id(s) of the relevant local backend(s), similar to how read preference is filled in for the alba proxies belonging to a global backend.

[2017-08-24 13:53] wimpers opened #453 "Advanced config mode in the GUI for proxies"
Reconfigure proxies on a volumedriver level (more advanced params like manifest caches etc) through the GUI. This should be clearly marked as advanced functionality.

[2017-09-04 15:20] wimpers commented on #453
Assigned to @wimpers as ticket needs more flesh to the bone

[2017-09-06 09:06] JeffreyDevloo opened #464 "[Active Drive] Max fragment size must be under 1MB when using ADs"
### Problem description
According to @toolslive, the max fragment size on a preset has to be toned down when using adding an active drive

Todos for the fwk:
- [ ] display a warning for every preset that would be adjusted due to this in the add osd wizard
- [ ] after adding the osd (before claiming) the presets fragmnet size should be changed

[2017-09-06 12:03] wimpers commented on #453
https://docs.google.com/document/d/1XNDes72iF2D_CsKOos-99ke490hyV56gf_zxnksr1EU/edit#

[2017-09-07 12:30] kvanhijf opened #466 "Presets never report to be 'available'"
Its impossible to create vDisk via the GUI currently because none of the presets in any policy appear to be available

[2017-09-07 12:38] kvanhijf commented on #466
https://github.com/openvstorage/framework-alba-plugin/pull/467 --> openvstorage-backend-1.10.0-dev.1504787500.872589a

[2017-09-08 12:19] kvanhijf opened #472 "Creating ABM and NSM clusters should create all nodes in 1 go"
When adding a new ALBA Backend we deploy an ABM and NSM cluster (if managed internally) for that Backend. This is done 1 node at a time, with a cluster restart each time in between. Instead we should create the entire Arakoon cluster and start the cluster once all nodes have been created. This would also diminish the error messages being thrown when restarting a cluster. (Arakoon no master found)

[2017-09-12 09:12] wimpers commented on #414
Keep this on hold as we don't have specs of the chassis yet.

[2017-09-12 09:16] JeffreyDevloo commented on #414
Would this remove the need of discovering asd-manager nodes?

[2017-09-12 09:23] wimpers commented on #414
I would keep the discovery we have right now, unless there is a good reason to remove it.

[2017-09-12 13:25] wimpers commented on #172
Since the ticket with the AD the nodes are by default collapsed. This ticket has since then become obsolete. Create a ticket in case new changes are needed to the backend page.
![2017-09-12_15-23-04.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55a79589ac2b010e00797421/125516c66e82c728ace21e0d46bac4cb74cfd3f0c2b8ed7cf508bdc67a0b77276b48e13b628ae92dbc56395b4d5a49ac145d564

[2017-09-12 13:25] #172 closed

[2017-09-13 08:07] wimpers commented on #464
Can we combine this with https://github.com/openvstorage/framework-alba-plugin/issues/204 ?

* On the "Add preset"  wizard (under advanced settings), add under compression a field to specify the fragment size. Default size is 4MB. In case an AD is added already, default is set to under 1MB and the value is not allowed to be changed.
* In case an AD disk is added the fragment size of all preset is

[2017-09-13 13:48] wimpers commented on #453
Will be picked up as part of https://github.com/openvstorage/framework/issues/1656

[2017-09-15 07:38] matthiasdeblock opened #477 "NoneType error while creating preset with API directly after creating backend"
[code]

[2017-09-15 07:59] kvanhijf commented on #477
https://github.com/openvstorage/framework-alba-plugin/pull/476 --> openvstorage-backend-1.10.0-dev.1505460343.2826f1c

[2017-09-16 04:07] hoanhdo opened #478 "alba asd warning after shutdown all node and start all node"
Hi all.

I testing failover for my cluster.
after shutdown all node and start server (use shutdown -h now)
This is warning status
![selection_090](https://user-images.githubusercontent.com/5550425/30508963-1345ea9c-9ace-11e7-8e01-2777ffce64d7.png)
![selection_091](https://user-images.githubusercontent.com/5550425/30508964-134641f4-9ace-11e7-809b-76580d51e41b.png).

I tried resstart asd but not wor

[2017-09-16 10:15] JeffreyDevloo commented on #478
Hi Hoanhdo

The asd have had recent errors due to the shutdown. To resolve this, you should just have some IO again on those asds.

[2017-09-18 04:40] hoanhdo commented on #478
Hi JeffreyDevloo
It work.

Thanks

[2017-09-18 04:40] #478 closed

[2017-09-18 14:25] saelbrec opened #479 "AlbaController.add_osds bails out when adding multiple Active Drives at once"
[code]

Note: This was using the controllers directly from an ovs shell

[2017-09-18 15:05] wimpers opened #480 "Clean shutdown of node with ASDs should not result in errors"
When you cleanly shutdown a host with ASDs, the ASDs should be closed cleanly so they don't result in errors.

This can be achieved  by doing a shut down in a certain order. First shutdown maintenance, then proxies, then asds, for example.

Boot needs to happen in the reverse order.

[2017-09-19 08:11] JeffreyDevloo opened #481 "[Active Drive] Handle custom slot ids"
### Problem description
The current free slot the fwk generates is based on the previous slots for sorting purposes.
We should discard the sorting if a custom one is introduced.

The current exception:
[code]

[2017-09-19 08:16] JeffreyDevloo opened #482 "[Active Drive] Preset availability is being calculated on available osds, not claimed ones"
### Problem description
My current backends osds:
![image](https://user-images.githubusercontent.com/17570109/30582277-6bff9d02-9d23-11e7-8381-4a55e1317fb0.png)
The preset is available (became available after allocating osds to the slots)
![image](https://user-images.githubusercontent.com/17570109/30582283-72d65a1c-9d23-11e7-8528-d5bcf71c96ae.png)
The problem is that this preset will not be satisf

[2017-09-21 05:32] toolslive opened #483 "don't use asd-multistatistics to get capacity & usage from active drives"
it doesn't work.
Instead, use `list-osds`.

[2017-09-21 07:28] JeffreyDevloo commented on #483
This was done by https://github.com/openvstorage/framework-alba-plugin/pull/469

[2017-09-21 16:09] JeffreyDevloo opened #485 "Add more logging when the backend would be marked as 'failure'"
### Problem description
Debugging as to why a backend is in failure state can be troublesome, especially if it happens periodically
There are a number of reason why it can be in failure and half of these reasons are not logged.

[2017-09-25 09:14] JeffreyDevloo commented on #481
Fixed by https://github.com/openvstorage/framework-alba-plugin/pull/486

[2017-09-25 12:34] wimpers commented on #483
@JeffreyDevloo  can this one be put on  code complete/validation/closed?

[2017-09-25 13:09] #481 closed

[2017-09-25 13:09] #477 closed

[2017-09-25 13:10] #466 closed

[2017-09-25 13:10] #415 closed

[2017-09-25 13:10] #378 closed

[2017-09-26 07:33] #483 closed

[2017-09-27 12:53] kvanhijf opened #490 "Make it possible to assign externally managed Arakoon clusters to dedicated Backend"
_From @kvanhijf on August 3, 2017 12:33_

Our NSM checkup currently claims any Arakoon cluster which has the 'in_use' flag set to False when a Backend needs more NSM clusters.
This behavior is not optimal and should be improved

Possible solutions:
1) We could add a flag in the Arakoon cluster's metadata called: 'backend_name'. This flag could then be used to check for which backend the cluster wa

[2017-09-27 12:53] kvanhijf commented on #490
_From @JeffreyDevloo on August 3, 2017 12:34_

Shouldn't we just start moving away from internal and external arakoons and just leave it up to customer where he wants his arakoons?

[2017-09-27 12:53] kvanhijf commented on #490
Yes we definitely should, but that would be a whole lot more work
This is an enhancement which shouldn't take too much time and allows our OPS boys to have more control

PS: created a ticket (FR) for it: see https://github.com/openvstorage/framework/issues/1712

[2017-09-27 12:53] kvanhijf commented on #490
_From @wimpers on August 24, 2017 9:23_

* Implement option 2.
* extend https://github.com/openvstorage/framework-alba-plugin/issues/284  so it also registers the services in the model.

[2017-09-27 12:57] kvanhijf commented on #490
https://github.com/openvstorage/framework/pull/1797
https://github.com/openvstorage/framework-alba-plugin/pull/491

[2017-09-27 14:43] kvanhijf commented on #490
Solution implemented is the following:
Whenever externally managed arakoon NSM clusters are overloaded, a CRITICAL log message is logged. Operations then needs to react upon this to add more arakoon clusters, by executing the 'expand_nsm_clusters' API on 'alba/backends'
For internally managed Arakoon clusters, nothing's changed. Whenever overloaded clusters are detected there, we automatically add

[2017-09-27 15:13] kvanhijf commented on #482
https://github.com/openvstorage/framework-alba-plugin/pull/493 -->

[2017-09-27 15:32] kvanhijf commented on #482
Simply creating (without claiming) 3 ASDs on a backend with default presets already showed this issue.
Preset 2,2,3,4 became available.
Fixed now by checking in the 'presets' dynamic whether the ASD has actually been claimed by current Backend

[2017-09-28 09:45] JeffreyDevloo opened #494 "Local summary 'gray' could result into a keyerror with global backends"
## Problem description
The current implementation of local summary requires a key 'gray' within the devices of a remote stack

When having a global backend which is using local backends from a different cluster, this key might not be returned.

[2017-09-28 10:12] kvanhijf commented on #494
https://github.com/openvstorage/framework-alba-plugin/pull/495 -->

[2017-09-28 13:25] kvanhijf opened #496 "Linked backends not displaying"

[2017-09-28 13:30] jeroenmaelbrancke opened #498 "support multi initialize and multi claim"
At this moment we need to initialize one disk at the time and claim all the disks afterwards.
Can you change this to initialize and claim a couple of disks?

For example:
Initialize 5 disks on node x.
Claim only 3 disks for this backend.
or
Initialize all disks except one disk and claim x amount of disks.

Maybe you can use also a pop-up with an overview of current disks per node and give use the

[2017-09-28 13:33] kvanhijf commented on #496
https://github.com/openvstorage/framework-alba-plugin/pull/497 --> openvstorage-backend-1.11.0-dev.1506605131.5ba7c56

Due to an error in our JS code, the linked backends to a global backend could not be displayed

[2017-09-29 12:54] kvanhijf opened #499 "Rate limiting when on global backend detail page"
When on a global backend detail page which is linked to multiple local (local) backends, API rate limitation can kick in, resulting in an 'unknown' state for the global backend

[2017-09-29 14:25] kvanhijf commented on #479
https://github.com/openvstorage/framework-alba-plugin/pull/501 -->

[2017-10-02 07:01] kvanhijf commented on #414
@wimpers : Whats the status of those required specs?

[2017-10-02 11:21] kvanhijf commented on #479
Included in release https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.10.1

[2017-10-02 11:21] #479 closed

[2017-10-02 11:21] kvanhijf commented on #482
Included in release https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.10.1

[2017-10-02 11:21] #482 closed

[2017-10-02 11:21] kvanhijf commented on #490
Included in release https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.10.1

[2017-10-02 11:21] #490 closed

[2017-10-02 11:21] kvanhijf commented on #494
Included in release https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.10.1

[2017-10-02 11:21] #494 closed

[2017-10-02 11:21] kvanhijf commented on #496
Included in release https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.10.1

[2017-10-02 11:21] #496 closed

[2017-10-02 11:21] kvanhijf commented on #499
Included in release https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.10.1

[2017-10-02 11:21] #499 closed

[2017-10-02 12:35] kvanhijf opened #506 "Adding OSDs broken when a linked backend is present"

[2017-10-02 13:11] wimpers commented on #498
Note to self:
- Initialize all  can't work if you have a dm-0 partitions (see https://github.com/openvstorage/framework/issues/1647)
- option to select 2/6 disks for a backend

[2017-10-02 13:27] kvanhijf commented on #506
https://github.com/openvstorage/framework-alba-plugin/pull/507 --> openvstorage-backend-1.10.2-dev.1506950323.ab8caa8

[2017-10-02 13:35] JeffreyDevloo commented on #498
I think the request is more for a multi-select on the backend page
Similar to how you multi-select things on Phone applications. You press a button, multi-select is invoked and all items you click are queued for initialization/claiming

[2017-10-03 06:51] kvanhijf commented on #506
Included in release https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.10.2

[2017-10-03 06:51] #506 closed

[2017-10-11 09:59] wimpers opened #511 "Change default amount of proxies to 2"
Change default amount of proxies to 2 in vPool wizard as now it is 1 which isn't HA.

[2017-10-11 10:01] kvanhijf commented on #511
The default is 2 atm, where did you see it as being 1?

[2017-10-11 10:06] wimpers commented on #511
Was checking old version.

[2017-10-11 10:06] #511 closed

[2017-10-13 08:35] kvanhijf opened #513 "Updater doesn't 'see' updates anymore when services need a restart"
Related issue: https://github.com/openvstorage/framework/issues/1833

[2017-10-13 08:42] kvanhijf commented on #513
openvstorage-backend-1.11.0-dev.1507883499.2f5aea1

[2017-10-13 08:43] kvanhijf commented on #513
Merging in the code closed it automatically?? Strange

[2017-10-20 14:43] wimpers commented on #464
This becomes obsolete if the AD supports higher fragment sizes. Let's keep on hold for now hence assigning to me.

[2017-10-20 15:33] toolslive commented on #464
mind, compression can increase the size of a fragment.

[2017-10-23 07:51] wimpers commented on #464
Sure but to me that  isn't a framework problem but more of an ALBA problem as ALBA knows when it goes above the fragment size limit and should act accordingly.

[2017-10-23 07:55] domsj commented on #464
This could indeed be solved inside alba too.
E.g.:
- split each large value into multiple large values when writing to an AD, using some naming scheme for the keys (append _0001, _0002, ...). this will require some changes to the download path too.
- or during upload cap the fragment size to the maximum allowed by ADs (when any AD is involved for the backend)

[2017-10-23 09:16] toolslive commented on #464
or calculate a fragment size depending on the preset. We know the maximum fixed cost of a compressor, so if a compressor is used, the `fragment_size = preset.fragment_size - compressor.fixed_cost`.

[2017-10-23 09:32] wimpers commented on #464
To me it looks like the solution of @toolslive would be the easiest to implement?

Also this boils down to 2 scenarios:
* the fragment can be compressed relatively good. In every case you end up with small objects on the backend (smaller than max fragment size).
* the fragments can't be compressed really good. In case we use @toolslive solution the stored object will be almost max fragment size. I

[2017-10-23 09:41] domsj commented on #464
who does the calculation / when does the calculation happen in @toolslive suggestion?
Is it done by the framework when configuring the preset, or later during upload as in my second suggestion?

[2017-10-23 09:54] wimpers commented on #464
I don't see where the framework would be involved in this. ALBA get a preset including max fragment size and whether or not compression is set. It is up to ALBA to take the necessary cost into account.

[2017-10-23 09:55] toolslive commented on #464
It should be done during upload. Basically, my suggestion is too redefine/reinterpret the fragment size in
the preset to become the maximum **packed** fragment size.

[2017-10-26 13:56] jeroenmaelbrancke opened #515 "alba_backend.presets returns wrong values"
One of our test scenarios is create a preset, sleep 1 second, check if this one exists and delete it again.

Some times the created preset is not listed when we run BackendList.get_by_name(albabackend_name).alba_backend.presets

Error from the scenario:
[code]

scenario: https://github.com/openvstorage/integrationtests/blob/master/ci/scenarios/backend/be_0002_add_update_remove_preset_test/main.py#

[2017-10-26 14:19] kvanhijf commented on #515
I've created a script to add / validate / delete a preset
[code]
It has now been running for over 5 minutes and still succeeding, so it does not seem to be an issue in the framework.
Please provide us with more information or investigate this issue further in the integrationtests first

[2017-10-27 07:58] kvanhijf opened #516 "Backend role not displayed in Disk overview on StorageRouter detail page"
Without a Backend role, the GUI still allows to assign additional roles to that partition, which should not be allowed

[2017-11-03 10:21] domsj opened #517 "sort order of asd nodes on backend detail page usability improvement"
It would be nicer, especially on big environments such as the nuvolat setup, if the asd nodes which have asds in use for this backend would be presented first.

[2017-11-03 10:22] kvanhijf commented on #517
Currently the sorting is done based on the hostname or IP (if hostname is unavailable)

[2017-11-08 13:51] ovstmoens opened #519 "Add a "to_json=False" parameter to AlbaCLI.run()"
AlbaCLI.run() always adds the "--to-json" parameter to Alba commands, yet not all Alba commands support it. Please add the possibility to run Alba commands without "to-json", for example by passing a "to_json=False" parameter to the function.

[2017-11-09 09:36] ThoMeyM opened #520 "ReadTimeout when attempting to remove ASD via GUI"
2017-11-09 10:30:40 89600 +0100 - pocops-voldrv01 - 1684/140547671979776 - celery/celery.worker.job - 77273 - ERROR - Task albanode.reset_asd[3238c3c5-3691-4439-93e9-77c9da23e21e] raised unexpected: ReadTimeout(
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/celery/app/trace.py", line 240, in trace_task
    R = retval = fun(*args, **kwargs)
  File "/usr/lib/python2.7/d

[2017-11-10 10:25] JeffreyDevloo opened #521 "Error while removing disk from already physically removed disk"
_From @matthiasdeblock on June 30, 2017 12:43_

Got the following stacktrace after removing the disk. The disk got replaced before it was removed from the GUI.

[code]

_Copied from original issue: openvstorage/framework#1694_

[2017-11-10 10:25] JeffreyDevloo commented on #521
This issue was moved to openvstorage/alba-asdmanager#301

[2017-11-10 10:25] JeffreyDevloo opened #522 "Error while removing asd from already physically removed disk"
_From @matthiasdeblock on June 30, 2017 12:42_

Got the following stacktrace after removing the asd. The disk got replaced before it was removed from the GUI.

[code]

_Copied from original issue: openvstorage/framework#1693_

[2017-11-10 10:25] JeffreyDevloo commented on #522
_From @wimpers on August 17, 2017 15:16_

Duplicates https://github.com/openvstorage/framework/issues/1694

[2017-11-13 09:22] wimpers commented on #403
@kvanhijf

* Is this still an open issue?
* How much time would it take to implement this enhancement?

[2017-11-13 09:57] kvanhijf commented on #403
Yes, still an issue. Would take 1 - 1.5 days i presume

[2017-11-15 14:37] JeffreyDevloo commented on #519
Will be fixed by: https://github.com/openvstorage/framework-alba-plugin/pull/525

[2017-11-15 14:38] JeffreyDevloo commented on #522
Will be fixed by https://github.com/openvstorage/framework-alba-plugin/pull/524

[2017-11-15 14:38] JeffreyDevloo commented on #521
Will be fixed by https://github.com/openvstorage/framework-alba-plugin/pull/524

[2017-11-16 12:48] JeffreyDevloo opened #527 "Switch over Travis to use docker"
### Problem description
We are currently facing issues with 14.04 packaging
[code]
But since 14.04 has been obsoleted, we should also use docker for this repository as Travis does not provide a 1.04 machine yet.
Adding 14.04 to our docker builds would be very simple and not require much changes (Travis will run both dockers simultaneously then)

[2017-11-16 12:50] JeffreyDevloo commented on #527
Fixed by https://github.com/openvstorage/framework-alba-plugin/pull/526

[2017-11-21 13:10] kvanhijf commented on #452
https://github.com/openvstorage/alba-asdmanager/pull/298
https://github.com/openvstorage/framework-alba-plugin/pull/518

[2017-11-30 13:51] simonOpenV opened #531 "integrationtest install asd issue"
When installing the integrationtest package, the ip 192.168.122 is added to the list of ip addresses of the physical environment. Due to this default behaviour of the Qemu-kvm package, this ip is present on all nodes and it is possible to claim this ip on every node.
This results in faulty asd claim behaviour

[2017-12-01 09:08] wimpers commented on #464
Back to BAM: Anything to do for framework team?

[2017-12-01 16:35] simonOpenV commented on #531
Fixed by pr #533

[2017-12-04 11:03] wimpers commented on #480
Proxies on other nodes can't be notified in any way that the ASDs will be going down.

[2017-12-04 11:03] #480 closed

[2017-12-04 13:51] wimpers commented on #464
After discussion with @toolslive  , no need for the framework team to take action as this will be covered by the ALBA team during upload.

[2017-12-04 13:51] #464 closed

[2017-12-05 10:30] wimpers commented on #485
@JeffreyDevloo do you have an idea how much work this would be ? Is this a small one that @simonOpenV could pick up?

[2017-12-08 07:59] matthiasdeblock opened #539 "Cachebackend ASD removal failed"
The removal of an ASD in the cachebackend failed with the the current safety is not as expected.

As this is an ASD in the cachebackend we should be able to remove the disk without any issues.

![gui_remove_error_message](https://user-images.githubusercontent.com/14923932/33756389-977c9c76-dbf5-11e7-9e0c-8c096253b4b4.png)

![gui_error_message](https://user-images.githubusercontent.com/14923932/337

[2017-12-12 08:40] kvanhijf opened #541 "The role check when adding a backend does not refresh"
When having the 'Add Backend' wizard open without having a DB role assigned to any StorageRouter, the role check in the wizard will fail and not allow to add a Backend. When adding a DB role via the API or any other way without closing the 'Add Backend' wizard, the check does not refresh

[2017-12-13 15:52] wimpers commented on #539
@matthiasdeblock do I get it correct that the use case was the following.

We wanted to remove all ASD from a (cache) backend. This means no namespace should be on the backend otherwise you will hit the error as above as the policy can't be met.
* For a HDD backend this means first removing all vDisks using the backend .
* For an cache backend you want to remove the namespaces but removing the vDi

[2017-12-13 16:37] JeffreyDevloo commented on #539
No, this is to be resolved within the alba plugin. The plugin should determine whether or not the backend is storage or caching. If the backend is only used for caching, allow an unsafe safety

[2017-12-14 10:54] wimpers commented on #515
@jeroenmaelbrancke  can you please reproduce or if needed close with can't reproduce

[2017-12-14 11:00] wimpers commented on #516
Seems this wasn't possible on Fargo (10.188 env) but is possible on Andes.
[Uploading 2017-12-14_11-59-19.png...]

[2017-12-14 15:06] jeroenmaelbrancke commented on #515
For example:
http://testrail.openvstorage.com/index.php?/tests/view/1317639

[2017-12-18 10:33] wimpers commented on #520
@ovstmoens is there a workaround?

[2017-12-18 10:57] ovstmoens commented on #520
@wimpers The workaround we used was to remove the directory first via CLI and then remove the ASD in the GUI.

[2017-12-21 09:41] wimpers commented on #541
Duplicate of https://github.com/openvstorage/framework/issues/1866

[2017-12-21 09:43] #541 closed

[2017-12-21 11:03] wimpers commented on #515
@jeroenmaelbrancke can we investigate if it is an integration test issue as Kevin pointed out that his side works (apperently). Maybe this is a caching problem?

[2018-01-08 10:32] JeffreyDevloo commented on #453
Waiting for the vpool changes before proceeding

[2018-01-09 14:32] wimpers commented on #539
Instead of the plugin checking  allow a force remove (checkbox) of an ASD.

The issue with the plugin checking is that in case this is an external backend, you don't have the context if it is use for cache or storage bacjend.

[2018-01-09 14:34] wimpers commented on #539
@matthiasdeblock is there a workaround for this?

[2018-01-09 15:07] matthiasdeblock commented on #539
As I had to remove all disks on the entire VM, the only possibility here was to stop the VM and then remove the disks.

[2018-01-09 15:07] matthiasdeblock commented on #539
It might be a problem if you have to remove a single disk on a node for replacement.

[2018-01-09 15:34] JeffreyDevloo commented on #485
@wimpers
This is a small fix that Simon could pick up
I estimate it to be an hour of work

[2018-01-10 08:10] matthiasdeblock commented on #539
Just had the chance to retry this one and had the same issue while removing an SSD from a VM on Nuvolat. (@wimpers , it's not removing the entire backend but just an SSD).

Strange thing I had now was that I first had these error messages:
![i_understand_remove_ssd](https://user-images.githubusercontent.com/14923932/34761709-3464faf2-f5e5-11e7-9153-8cb0fe49181e.png)

![i_understand_remove_ssd_fail

[2018-01-10 16:09] JeffreyDevloo opened #545 "ASDs which don't belong to the backend should not be labelled green but grey"
_From @wimpers on September 21, 2017 13:59_

ASDs which don't belong to the backend should not be labelled green but grey.

![2017-09-21_15-56-42](https://user-images.githubusercontent.com/8392927/30699744-d83d78fe-9ee5-11e7-8c81-1cdf781e9cab.jpg)

_Copied from original issue: openvstorage/framework#1782_

[2018-01-10 16:09] JeffreyDevloo commented on #545
The gray color is used for marking osds that we know nothing about (unable to query to information)
Should we still mark it as gray?
Also this is for the current development build, not yet released so we should tackle this quite quickly

[2018-01-10 16:09] JeffreyDevloo commented on #545
_From @wimpers on September 21, 2017 14:4_

Yes, please as having them being green should only be used for disks which belong to that backend

[2018-01-10 16:09] JeffreyDevloo commented on #545
_From @kvanhijf on September 21, 2017 14:12_

We should be able to distinguish the difference between grey disks
belonging to the current Backend (for whatever reaons they are grye) and
grey disks belonging to another Backend, no?

On Thu, Sep 21, 2017 at 4:07 PM Wim Provoost <notifications@github.com>
wrote:

[2018-01-10 16:09] JeffreyDevloo commented on #545
_From @wimpers on December 4, 2017 11:16_

It would be best if we can make the distinction  (2 types of gray, also do it it on the node detail if you expand).

Before starting with this best solution, can we estimate the simple solution (just adding the ASDs which don't belong to the backend to grey/unknown) and the best solution?

[2018-01-10 16:51] JeffreyDevloo commented on #545
@wimpers
I estimate it to be 2 hours of work

The detail view already shows these osds as 'unavailable' and gray
We just need to differentiate from backend which won't take that long

[2018-01-11 16:29] JeffreyDevloo commented on #545
Would be implemented by https://github.com/openvstorage/framework-alba-plugin/pull/546

[2018-01-15 10:50] jeroenmaelbrancke opened #547 "checkup_maintenance_agents ignored the agents_layout"
Last Friday we detected that the maintenance agents on NY2 are deployed on asd vms.
This is not what we configure in the agents_layout config.
After manually running the checkup_maintenance_agents method the services were removed on the asd vms and deployed on the correct nodes.

I'm not able to find information in the logging why the maintenance agents were deployed on different nodes.
Maybe the

[2018-01-18 13:36] simonOpenV commented on #485
Fixed in #549
Packaging info: openvstorage-backend-core_1.11.0-dev.1516281611.6affa3c-1_amd64.deb

[2018-01-18 14:05] JeffreyDevloo commented on #545
Fixed by #546

[2018-01-25 16:43] jtorreke opened #553 "Bump the timeout needed to initialise an alba ASD"
[code]
The current timeout is set to 20 seconds, can we raise this to 300 or so? This is an SSD device.

[2018-01-26 11:07] JeffreyDevloo opened #554 "Claiming OSDs after a backend has been linked to a global backend is not possible"
### Problem description
After linking the local backends to global ones, a OSD entry is made without IPs.
The add_generic_osds function loops over all OSDs, including the backend entry and then loops over ips: resulting in an error

Stacktrace:
[code]

[2018-01-26 12:28] JeffreyDevloo commented on #545
Part of the https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.11.0 release

[2018-01-26 12:28] #545 closed

[2018-01-26 12:29] JeffreyDevloo commented on #531
Part of the https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.11.0 release

[2018-01-26 12:29] #531 closed

[2018-01-26 12:29] JeffreyDevloo commented on #522
Part of the https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.11.0 release

[2018-01-26 12:29] #522 closed

[2018-01-26 12:29] JeffreyDevloo commented on #521
Part of the https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.11.0 release

[2018-01-26 12:29] #521 closed

[2018-01-26 12:29] JeffreyDevloo commented on #519
Part of the https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.11.0 release

[2018-01-26 12:29] #519 closed

[2018-01-26 12:30] JeffreyDevloo commented on #527
Part of the https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.11.0 release

[2018-01-26 12:30] #527 closed

[2018-01-26 12:30] JeffreyDevloo commented on #513
Part of the https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.11.0 release

[2018-01-26 12:30] #513 closed

[2018-01-26 12:30] JeffreyDevloo commented on #452
Part of the https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.11.0 release

[2018-01-26 12:30] #452 closed

[2018-01-26 12:30] JeffreyDevloo commented on #485
Part of the https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.11.0 release

[2018-01-26 12:30] #485 closed

[2018-01-29 13:45] simonOpenV commented on #554
Fixed in #555
Packaging information: openvstorage-backend-1.12.0-dev.1517232557.9a80599

[2018-01-29 15:20] simonOpenV commented on #554
Fixed in Master in #556 and #557
Packaging information: openvstorage-backend-1.12.0-dev.1517238185.a81ff78

[2018-01-30 09:03] simonOpenV opened #558 "Removing albanodes not working"
Noticed this first on my own environment, confirmed on 199.191

_What?_
AlbaNode is not removable when it should be, namely when all osds are unclaimed.

_Evidence_

![screenshot from 2018-01-30 10-00-17](https://user-images.githubusercontent.com/33058909/35557289-f5c0f18c-05a4-11e8-9f65-93ba37225375.png)

Traceback (most recent call last):
File "/usr/lib/python2.7/dist-packages/celery/app/trace.p

[2018-01-30 09:08] simonOpenV commented on #377
Bumped on #558 trying to fix this

[2018-01-30 10:10] JeffreyDevloo commented on #554
Included in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.11.1 release

[2018-01-30 10:10] #554 closed

[2018-02-05 15:32] simonOpenV commented on #558
This issue might have been caused by an error present in my environment at that time.
Further research will tell.

[2018-02-05 17:33] JeffreyDevloo opened #560 "[Dual controller] Work to be done"
## Feature description
The Dual Controller would need two or more AlbaNodes working together in a master - slave fashion. The goal is to failover to one if the other would become unresponsive or enough OSDs are reporting failures

### First iteration
This will only contain happy path changes
The changes to be made:
- [ ] Implement a class which can combine AlbaNodes (AlbaNodeCluster)
- [ ] Change

[2018-02-06 08:12] wimpers commented on #560
The active passive is on ASD level, not on ASD manager level.

[2018-02-06 08:30] JeffreyDevloo commented on #560
My intention was to leverage change all calls to support active/passive routes. That is what I meant with that :)

[2018-02-06 10:50] wimpers commented on #560
Mount
Deploy service

Can we not already have the service deployed but stopped? Any reason why you want to deploy it only now?

[2018-02-06 10:54] wimpers commented on #560
https://docs.google.com/document/d/1Jzptv2gkq7xbnStq9r93fHsT8Yfw8qo4_1hYyzfilqc/edit#

[2018-02-06 11:01] JeffreyDevloo commented on #560
Deploying the service when the filesystem is not mounted might cause some issues. We can already generate the servicefile though

[2018-02-06 11:10] dejonghb commented on #560
IMO fstab should be prepared and entries should have the "noauto" option to prevent automounting at boot.

The mounting itself should be done when starting the service (in that service file or via dependencies in systemd). When mounting fails, the service cannot start.

When stopping the service, the device should be umounted again.

Starting/stopping the service should only be done after a check

[2018-02-07 10:07] simonOpenV opened #561 "Unable to remove ASD-node"
### Problem description
Could not remove ASD node from the GUI when no asds were claimed. Only disks were initialzed

Asd manager log:
[code]

Plugin log:
[code]

[2018-02-07 10:17] JeffreyDevloo commented on #561
Please branch off from Master. The recent promote might have caused this issue

[2018-02-07 11:02] JeffreyDevloo commented on #561
Duplicate of https://github.com/openvstorage/framework-alba-plugin/issues/558

[2018-02-07 11:02] #561 closed

[2018-02-07 14:28] simonOpenV commented on #553
Fixed by #559
Package information: openvstorage-backend-1.12.0-dev.1518012516.234877a

[2018-02-07 22:29] JeffreyDevloo opened #563 "[Develop] Unable to link local backends"
### Problem description
The passed on connection info is faulty to retrieve an ovs client

[2018-02-07 22:38] JeffreyDevloo commented on #563
Fixed by https://github.com/openvstorage/framework-alba-plugin/pull/562
Packaged in openvstorage-backend_1.12.0-dev.1518041712.2182bad-1_amd64.deb

[2018-02-09 12:20] JeffreyDevloo commented on #560
## Estimations
### First iteration
This will only contain happy path changes
The changes to be made:
- [ ] Implement a class which can combine AlbaNodes (AlbaNodeCluster) - 1 day
- [ ] Change all AlbaNode related code to work with the potential AlbaNodeCluster relation - 3 days
- [ ] Change the ASD Manager to work actively and passively - 3 days
- [ ] Display these changes in the GUI - 3 days
- [

[2018-02-09 13:04] JeffreyDevloo opened #565 "[Dual controller] Implement AlbaNodeCluster"
See https://github.com/openvstorage/framework-alba-plugin/issues/560

[2018-02-12 14:03] JeffreyDevloo opened #566 "[Dual Controller] GUI changes"
See #560

[2018-02-15 10:30] simonOpenV commented on #558
Fixed by #568 and asd-manager: https://github.com/openvstorage/alba-asdmanager/pull/319

[2018-02-16 14:36] wimpers opened #573 "[Dual Controller] heartbeat"
Each OVS node run as heartbeat service. The servoce tries every 10 seconds  to take a polling lock in Arakoon.

(see google doc for if/else layout below)

The controller-heartbeat, a  small systemd service, executes following:
- Take controller-heartbeat lock
- If it can take the lock
- Execute through the API get /alba/nodes/ to get the local summary of each asdnode (only real asd nodes, filter o

[2018-02-21 11:05] jeroenmaelbrancke opened #574 "No slots found on the backend page"
# Problem

![image](https://user-images.githubusercontent.com/2900612/36476826-47f97dbe-16ff-11e8-8246-22965bcb451b.png)

# Logs
Looks like the timeout to retrieve the stack are to optimistic.

[code]

# Solution
Changing the timeout from 5 secs to 60 secs solved the problem:
/opt/OpenvStorage/ovs/extensions/plugins/asdmanager.py
[code]

# Version
[code]

[2018-02-22 08:51] hoanhdo opened #575 "error claim disk to local backend linked to global backend"
Hi all.

I install my cluster on OpenVStorage version : fargo-update-1

After add peformance node 1,2 and 3, i add node 4 5.
All disk on node performance 4,5 initialized , but click to claim all disk it do nothing.
I tried remove node, add new nodes but not work.

Thanks.

[2018-02-22 15:08] JeffreyDevloo commented on #575
Hello hoanhdo

Is it possible that you can send me the error message contained within the logs? These can retrieved using journalctl -u ovs-workers and journalctl -u ovs-webapp-api

[2018-02-23 02:02] hoanhdo commented on #575
This is my logs.
[ovs-workers.log](https://github.com/openvstorage/framework-alba-plugin/files/1750230/ovs-workers.log)
[ovs-webapp-api.log](https://github.com/openvstorage/framework-alba-plugin/files/1750231/ovs-webapp-api.log)

[2018-02-28 09:43] jeroenmaelbrancke opened #576 "Changing disk by-id result in double asds"
The automated install changed the udev persistent udev rule.
The reason why we changed this is because our test environment had all the same ids. All the asds were available on one asd vm. After changing the udev rule (same we did on Nuvolat for the md0 encrypt partition) the asds are properly listed under the correct asd vm.
It seems like the rule has been copied to dev_ops repo also so new insta

[2018-03-01 09:20] simonOpenV commented on #377
This ticket is fixed: hosts are now in state ``` unknown ``` instead of error. This state implies grey colouring of the disks and the bin icon to be unavailable.

[2018-03-01 10:00] JeffreyDevloo commented on #558
Released in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.11.2

[2018-03-01 10:00] #558 closed

[2018-03-02 14:34] JeffreyDevloo commented on #576
Not sure if this is the Frameworks job to fix this. An entry from /dev/disk/by-id/ is treated as unique

[2018-03-05 09:42] simonOpenV commented on #520
This ticket seems to be no longer relevant in the current develop code: changes have been made in the ```  remove_asd``` (now ``` remove_osd ```)
- The call ``` node.client.get_disks ``` is no longer used in the remove_osd code
- Concerning the touch command in the asd-manager which caused the timeout through an error raise: this code is not executed in the current develop in ``` GET ``` calls and

[2018-03-09 09:48] jeroenmaelbrancke opened #577 "Sync with reality for asds"
# Problem
Removing of an asd via the gui failed due to the api timeout.
The asd has been removed on the asd-manager but the framework is not aware of this.
A retry of removing the asd will clean up the leftovers in the framework.

It would be better if we have a sync with reality call to sync the framework with the current state of the asds.

# Logs

celery
[code]

asd-manager
[code]

[2018-03-20 08:02] matthiasdeblock commented on #547
This morning, while the maintenance node (NY1SRV1000) was down, the maintenance agents started being deployed on ASD VM's which was bringing down the ASD VM's as they got out of memory.

[2018-03-22 14:13] JeffreyDevloo opened #578 "SDM migration code issue"
### Problem description
Upgraded from Bighorn-rc-2 to the latest fwk-develop

Plugin related stack:
[code]

SDM related stack:
[code]

### Package information
[code]

[2018-03-27 13:31] wimpers opened #579 "After purging all disks through ALBA CLI, GUI still reports them"
After purging all disks (active drives of an ASD node) through ALBA CLI, GUI still reports them as being part of the GUI.

[2018-03-27 13:32] wimpers commented on #577
We probably could use this also in case of active drives

[2018-03-27 13:34] wimpers commented on #579
Probably related to https://github.com/openvstorage/framework-alba-plugin/issues/577 (as in ALBA removed them, but the framework is not aware)

[2018-03-27 14:10] #579 closed

[2018-03-27 14:18] toolslive commented on #577
it also means that some alba cli commands are taboo for everything but the framework.

[2018-04-10 12:10] JeffreyDevloo opened #580 "Checkup maintenance agents fails when adding GENERIC nodes"
[code]

[2018-04-16 14:02] JeffreyDevloo commented on #574
Can be solved with https://github.com/openvstorage/framework-alba-plugin/pull/559. The timeout can be set in config management

[2018-04-19 13:50] JeffreyDevloo opened #581 "[S3] Work to be done"
### Feature description
The S3 OSDs need to be implemented and scheduled by the Framework.
To configure these: the alba asd-manager must be adjusted to create s3 osds (or some other standalone manager)

#### Must have
- [ ] Adjust Manager code to spin up S3 osds
- [ ] Configure an S3 Arakoon
- [ ] Allow bucket configuration within the backend overview

#### further thinking
- [ ] Auto-schedule the

[2018-04-19 13:59] JeffreyDevloo commented on #539
The problem is, like @wimpers mentioned is that there is no way to detect in what context these ASDs are used...
If there is a disk replacement to be done, it should be possible to clear a slot at once which takes in the factor of losing all it's osds on it.

[2018-04-20 09:12] JeffreyDevloo commented on #578
Fixed by https://github.com/openvstorage/alba-asdmanager/pull/326
Packaged in openvstorage-sdm_1.12.0-dev.1524214275.9dc3dcd-1_amd64.deb

[2018-04-23 12:10] wimpers commented on #575
Hi @hoanhdo ,

is this still an issue or did you manage to get this fixed?

[2018-04-25 09:51] JeffreyDevloo opened #583 "[Bighorn] Unable to retrieve osd statistics of the statsmonkey"
### Problem description
The statsmonkey can't fetch the osd statistics anymore

Stacktrace:

[code]

[2018-04-25 12:37] JeffreyDevloo commented on #583
Fixed by https://github.com/openvstorage/framework-alba-plugin/pull/584
Packaged in openvstorage-backend-core_1.12.0-dev.1524658535.5197e88-1_amd64.deb

[2018-04-25 12:37] JeffreyDevloo commented on #580
Fixed by: https://github.com/openvstorage/framework-alba-plugin/pull/585
Packaged in openvstorage-backend-core_1.12.0-dev.1524658535.5197e88-1_amd64.deb

[2018-04-27 07:55] hoanhdo commented on #575
@wimpers it still an issue. I tried fix but no luck.

[2018-05-03 08:14] wimpers commented on #583
@JeffreyDevloo now we just pop the version value. Can't we just leave it in there f.e. by doing a check if is a float and otherwise store it as a string?

[2018-05-03 11:49] jeroenmaelbrancke opened #586 "Loading backends of a link backend is slow"
# Problem
On Nuvolat i'm trying to add a new linked backend to one of the globalbackend but loading the backends of NY2 is very slow.

The call to NY2 returned a valid json with the information of the backends.

![image](https://user-images.githubusercontent.com/2900612/39574313-03fbcac6-4ed7-11e8-83a9-5b02916bfe40.png)

![image](https://user-images.githubusercontent.com/2900612/39574742-880a53c2-

[2018-05-03 13:34] wimpers commented on #586
@jeroenmaelbrancke please define very slow. Are we talking about 5s, 30 secs, 5 mins or even longer?

[2018-05-03 14:32] jeroenmaelbrancke opened #587 "23 minutes for deleting one asd"
# Problem
It takes 23 minutes on Nuvolat to delete one disk on a local backend

Start of the deletion
[code]

After 18 minutes the timeout of the client is here:
[code]

While the task already have been failed with None, None after 2 minutes
[code]

After sometime i see following error message in the asd-manager:
[code]

[2018-05-03 15:10] jeroenmaelbrancke commented on #586
+ 5 minutes, at a certain point (after refreshing and trying +10 times) the backends are loaded.

[2018-05-03 15:30] JeffreyDevloo commented on #587
The removal must have gone a bit quicker. Replacing the OSD might have been taking longer (the MKFS thing)

[2018-05-03 15:34] jeroenmaelbrancke commented on #587
Well the mkfs thing was a mistake this is only happening when i create a new ASD.
What i don't understand is the service file has been deleted but the framework doesn't get notified by that.

Will running the asd-manager in debug mode help us or not?

[2018-05-04 07:56] wimpers opened #588 "NBD devices created for iSCSI can be used for ALBA"
NBD devices created by us for iSCSI can be used for ALBA, this should not be possible.

[2018-05-04 08:12] jeroenmaelbrancke commented on #586
If you say (100% sure) only OPS will perform these tasks than i'm happy with it.

[2018-05-04 08:16] wimpers commented on #581
We might want to tackle Detect AWS disks (https://github.com/openvstorage/alba-asdmanager/issues/325) during this one.

[2018-05-04 08:30] wimpers commented on #581
I'm not sure what is needed here. Will OPS not cover this as part of https://github.com/openvstorage/operations/issues/64 and pick it up in their Ansible script.

This is something for OPS (and maybe @andersfugmann  will want some views also)

[2018-05-04 08:32] wimpers commented on #581
Do allow to use external arakoons for this.

[2018-05-04 09:01] JeffreyDevloo commented on #588
Infinite storage cycle? :+1:

[2018-05-04 09:29] wimpers commented on #588
I'm wondering if we don't need to be more clever about this an revisit our strategy:
* we keep on bumping into disks which should not be shown or are not shown
* Amazon EBS disks don't work all together

[2018-05-04 09:46] JeffreyDevloo commented on #588
We process the disks that the OS can see. Certain types of drive are ignored already, however we cannot be up to date with all the new hot and flashy stuff...

[2018-05-04 11:56] wimpers opened #589 "Change default cache eviction from LRU to random"
Change default cache eviction from LRU to random.
Don't setup Redis also.

@JeffreyDevloo

[2018-05-04 14:12] wimpers commented on #588
After discussion with the framework team:
* I this ticket we will do a quick fix by out all NBD disks.
* A feature request should be created to handle this more intelligent (f.e. option to show all block devices, custom filtering).

[2018-05-08 07:25] simonOpenV commented on #588
### Will be fixed by:
https://github.com/openvstorage/alba-asdmanager/pull/328

[2018-05-09 08:52] wimpers opened #591 "Extend maintenance config option"
Since https://github.com/openvstorage/framework/issues/2010 we have an edit config option for backends. This ticket is to gather ideas to extend this config wizard.
* Amount of maintenance agents deployed for this backend
* Change the schedule for the ALBA backend verifictaion process
* time after which broken osds are repaired

[2018-05-09 11:59] matthiasdeblock commented on #591
Changing the load of the maintenance.
https://github.com/openvstorage/alba_ee/blob/master-ee/cfg/maintenance_demo.json#L14

[2018-05-09 15:18] JeffreyDevloo commented on #588
Released in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.12.0
Packaged in openvstorage-backend-core_1.12.0-1_amd64.deb

[2018-05-09 15:18] #588 closed

[2018-05-09 15:18] JeffreyDevloo commented on #583
Released in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.12.0
Packaged in openvstorage-backend-core_1.12.0-1_amd64.deb

[2018-05-09 15:18] #583 closed

[2018-05-09 15:18] JeffreyDevloo commented on #580
Released in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.12.0
Packaged in openvstorage-backend-core_1.12.0-1_amd64.deb

[2018-05-09 15:18] #580 closed

[2018-05-09 15:18] JeffreyDevloo commented on #578
Released in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.12.0
Packaged in openvstorage-backend-core_1.12.0-1_amd64.deb

[2018-05-09 15:18] #578 closed

[2018-05-09 15:18] JeffreyDevloo commented on #563
Released in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.12.0
Packaged in openvstorage-backend-core_1.12.0-1_amd64.deb

[2018-05-09 15:18] #563 closed

[2018-05-09 15:18] JeffreyDevloo commented on #553
Released in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.12.0
Packaged in openvstorage-backend-core_1.12.0-1_amd64.deb

[2018-05-09 15:18] #553 closed

[2018-05-09 15:18] JeffreyDevloo commented on #377
Released in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.12.0
Packaged in openvstorage-backend-core_1.12.0-1_amd64.deb

[2018-05-09 15:18] #377 closed

[2018-05-14 12:25] JeffreyDevloo commented on #589
Fixed by https://github.com/openvstorage/framework-alba-plugin/pull/590
Released in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.12.0
Packaged in openvstorage-backend-core_1.12.0-1_amd64.deb

[2018-05-14 12:25] #589 closed

[2018-05-22 13:23] wimpers commented on #586
Calling the API directly would already speed things up as the GUI does additional checks.

[2018-05-25 14:56] wimpers commented on #414
Still waiting for specs alas .. I'll keep it assigned to myself

[2018-06-04 13:05] jeroenmaelbrancke opened #597 "Backend gui not loading due to namespace with wrong preset name"
# Problem
With the manually fixes of Romain/Ops to reattach a volume back to the ABM cluster, it could be that a namespace is reattached with a wrong preset or a preset that doesn't exists.

for example:
[code]

Not sure if the gui should not load if a namespace have a wrong preset name. Maybe just throw an error on the gui instead of an empty page.

![image](https://user-images.githubusercontent.

[2018-06-04 13:11] JeffreyDevloo commented on #597
Quite difficult to propagate serializer exceptions back to the GUI.
We catch and log exceptions when we can anticipate them. Fiddling around with some metadata in Alba is not something we expect though.

[2018-06-19 13:20] wimpers commented on #597
Closing this one down as result of manual incorrect steps.

[2018-06-19 13:20] #597 closed

[2018-06-19 13:47] wimpers commented on #576
After discussion with @JeffreyDevloo closed down. Re-open if you would disagree.

[2018-06-19 13:47] #576 closed

[2018-06-19 13:51] wimpers commented on #574
Released in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.12.0
Packaged in openvstorage-backend-core_1.12.0-1_amd64.deb

[2018-06-19 13:51] #574 closed

[2018-06-19 13:55] openvstorage-ci opened #599 "Too many open files"
_From @jeroenmaelbrancke on February 13, 2018 8:35_

Can you add a proper error state for the 'too many open files' error and let us know which node suffers from this?

[code]

_Copied from original issue: openvstorage/openvstorage-health-check#434_

[2018-06-19 13:55] openvstorage-ci commented on #599
_From @JeffreyDevloo on February 13, 2018 9:39_

Looks like an issue of the Framework Alba Plugin instead. Fetching disk information was not possible.

[2018-06-27 12:01] JeffreyDevloo opened #600 "Retrieving asd-multistastics is currently done in sync"
### Enhancement description
By specifying a comma separated list of long-ids in the --long-id section of asd-multistatistics, the information is retrieved in sync (for id in long_id).
By specifying --all this would be done in one go which is cheaper.

[2018-07-07 08:07] matthiasdeblock commented on #599
Had the same issue on the SV4 cluster. Restarting the asd-manager on the nodes which showed red ASD's temporary fixed the problem.

Error from the asd-manager:
[code]

[2018-08-20 07:43] wimpers commented on #581
@JeffreyDevloo  can you update with what is done already?

[2018-08-20 07:46] wimpers commented on #577
When implementing this we could also check https://github.com/openvstorage/framework/issues/2143 as the scheduled sync (once every hour) could retrieve the updated ABM info.

[2018-08-20 07:47] wimpers commented on #575
Closing this one down as we didn't receive any logs. Re-open if needed or if it can be reproduced.

[2018-08-20 07:47] #575 closed

[2018-08-24 13:33] JeffreyDevloo opened #607 "[Unstable] BACKEND role is no longer added"
### Problem description
After adding a role, the backend role is no longer applied to the partition
Snippet of the old initialize_disk:
[code]

[2018-08-27 15:41] JeffreyDevloo commented on #607
Fixed by https://github.com/openvstorage/framework-alba-plugin/pull/610, https://github.com/openvstorage/framework-alba-plugin/pull/609
Packaged in openvstorage-backend-core_1.13.0-dev.1535384397.483aec4-1_amd64.deb

[2018-08-28 08:53] JeffreyDevloo commented on #607
Released in https://github.com/openvstorage/framework-alba-plugin/releases/tag/1.13.0

[2018-08-28 08:53] #607 closed

[2018-08-31 08:30] wimpers commented on #414
API can be found at http://172.16.0.63/
Specs at https://drive.google.com/open?id=1-4pcPXkRY62pV0r4_x2iu_uAF5XRfIKW

[2018-09-12 15:47] JeffreyDevloo commented on #599
We might be leaking file descriptors in the asd-manager. Could you provide the lsof information if it occurs again?

[2018-09-13 14:11] JeffreyDevloo commented on #581
Fixed by https://github.com/openvstorage/framework-alba-plugin/pull/615

[2018-09-13 15:01] JeffreyDevloo commented on #547
It might be that the all asd nodes were unresponsive when the checkup was invoked.
When all asdnodes don't return their maintenance services, the layout is ignored.

[2018-09-13 15:05] delamonpansie opened #621 "S3: Support for standalone pracc server"
`pracc` binary is installed alongside with `arakooon` and `alba`
it's supposed to be started like `pracc pracc.ini`
example of configuration is below
[code]

[2018-09-14 14:35] wimpers commented on #581
@JeffreyDevloo I assume this was packaged? Which version?

[2018-10-11 13:56] JeffreyDevloo commented on #515
Has to be re-evaluated. There were some list-caching issue and these have been resolved in the meantime by https://github.com/openvstorage/framework/issues/1991

[2018-10-11 13:58] JeffreyDevloo commented on #520
This bug is most likely still present.

[2018-11-06 13:27] JeffreyDevloo commented on #516
Fixed by https://github.com/openvstorage/framework-alba-plugin/pull/608

[2018-11-13 14:06] JeffreyDevloo opened #626 "External arakoon support broken"
Deploying both NSM and ABM arakoons always expect a DB role. Even though these partitions are never used.

https://github.com/openvstorage/framework-alba-plugin/blob/develop/ovs/lib/albaarakoon.py#L181 the available storagerouter is always fetched even though it is not needed with external arakoons (https://github.com/openvstorage/framework-alba-plugin/blob/develop/ovs/lib/helpers/alba_arakoon_ins

[2018-11-15 08:52] #626 closed, assigned to nobody

[2018-11-16 13:19] sjovdnbos commented on #600
Should be fixed by this?
https://github.com/openvstorage/framework-alba-plugin/pull/628

[2018-11-22 15:06] sjovdnbos commented on #577
### Fixed by:
https://github.com/openvstorage/framework-alba-plugin/pull/629
### Package info:
openvstorage-backend-1.13.3-dev.1542964970.d80e34d

[2018-11-22 15:07] sjovdnbos commented on #600
### Fixed by:
https://github.com/openvstorage/framework-alba-plugin/pull/625

[2018-11-22 15:07] #600 closed

[2018-11-23 09:32] #577 closed

[2019-01-17 09:17] JeffreyDevloo opened #632 "Increase NSM capacity"
Experience gave us insight that the NSM can handle more namespaces than currently configured.

[2019-04-25 13:56] JeffreyDevloo opened #637 "ASD is shown in the GUI as "decommissioned" when it has been removed already"
Alba can take a little longer to decommission an asd internally.
If the Framework discarded the asd, the GUI should no longer show it